// this write component for elements

 * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	&:before, &:after {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		}
 }

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
 }

*::-moz-placeholder {
	color: #666;
	opacity: 1;
  }

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
 }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid{
	color: #666;
}

html, body {
	height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
}	

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}


::selection {
	background-color: #fff;
	color: #fff;
 }

 a, a:hover, a:focus, a:active {
	outline: none !important;
	text-decoration: none;
	color: #000;
}
