.grid-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
}

.artists-inner {
  width: 100%;
  position: relative;
  height: 320px;
  background-image: url(../img/artist-portfolio/portfolio-inside-bg.svg);
  background-repeat: no-repeat;
}
.artists-inner .artists-inner__container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}
.artists-inner .artists-inner__container .artists-inner__content {
  padding-top: 53px;
}
.artists-inner .artists-inner__container .artists-inner__content .breadcrumbs {
  margin: 0;
  padding: 0;
}
.artists-inner .artists-inner__container .artists-inner__content .breadcrumbs li {
  display: inline-block;
}
.artists-inner .artists-inner__container .artists-inner__content .breadcrumbs li::after {
  content: "/";
  display: inline-block;
  font-size: 13px;
  color: #c4c4c4;
  margin: 0 16px;
}
.artists-inner .artists-inner__container .artists-inner__content .breadcrumbs li a {
  font-family: Muller, serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #4c55ce;
}
.artists-inner .artists-inner__container .artists-inner__content .breadcrumbs li:nth-last-child(1) a {
  color: #2d2b31;
}
.artists-inner .artists-inner__container .artists-inner__content .breadcrumbs li:nth-last-child(1)::after {
  display: none;
}

.artists-primary {
  width: 100%;
  position: relative;
  padding-bottom: 105px;
}
.artists-primary .artists-primary__container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}
.artists-primary .artists-primary__container .artists-primary__content {
  width: 100%;
  display: grid;
  grid-template-columns: 464px 1fr;
  grid-gap: 54px;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description {
  width: 100%;
  position: relative;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner {
  position: absolute;
  left: 0;
  top: -200px;
  width: 464px;
  padding: 16px 15px 48px 16px;
  border-radius: 4px;
  box-shadow: 6px 1px 22px 0 #ebecf2;
  border: solid 1px #e2e6f4;
  background-color: #ffffff;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__to-wish-list {
  display: grid;
  justify-items: end;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__photo {
  width: 100%;
  display: grid;
  justify-items: center;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__photo .photo__item {
  position: relative;
  width: 210px;
  height: 201px;
  background-image: url(../img/artist-inner/image-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__name {
  font-family: JOURNALISM, serif;
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.99px;
  text-align: center;
  color: #2d2b31;
  padding: 24px 0;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__date-registration, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__about, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__technique, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__style, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__contests, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__education-additionally, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__education, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__age {
  font-family: Muller, serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #2d2b31;
  padding-bottom: 16px;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__date-registration span, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__about span, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__technique span, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__style span, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__contests span, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__education-additionally span, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__education span, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__age span {
  font-size: 14px;
  font-weight: normal;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__images {
  padding-bottom: 16px;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__style {
  padding: 0;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__style-description {
  font-family: Muller, serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #2d2b31;
  padding-bottom: 16px;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__rating, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__reviews, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__executor, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__deal {
  width: 250px;
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
  font-family: Muller, serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #2d2b31;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__rating i, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__reviews i, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__executor i, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__deal i {
  color: #c8cfee;
  padding-right: 5px;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__rating span, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__reviews span, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__executor span, .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__deal span {
  font-family: Muller, serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  text-align: right;
  color: #2d2b31;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__order {
  padding-top: 32px;
  width: 100%;
  display: grid;
  justify-items: center;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__order .btn--order {
  width: 304px;
  height: 56px;
  border-radius: 28px;
  box-shadow: 8px 6px 15px 0 #e1e3fb;
  background-color: #4c55ce;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__order .btn--order a {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
  font-family: Muller, serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__title h2 {
  font-family: JOURNALISM, serif;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.44;
  letter-spacing: 0.66px;
  color: #2d2b31;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__link a {
  font-family: Muller, serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.71;
  letter-spacing: normal;
  color: #4c55ce;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__link a i {
  font-size: 10px;
  color: #4c55ce;
  padding-right: 10px;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__technique {
  font-family: Muller, serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #2d2b31;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__technique span {
  font-size: 14px;
  font-weight: normal;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__description {
  font-family: Muller, serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #2d2b31;
  padding-bottom: 40px;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__text {
  font-family: Muller, serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #2d2b31;
  padding-bottom: 31px;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__works {
  display: grid;
  grid-template-columns: 445px 445px;
  grid-gap: 40px;
  padding-bottom: 48px;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__works img {
  width: 100%;
  display: block;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__reviews .reviews__title {
  font-family: Muller, serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #2d2b31;
  padding-bottom: 16px;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__reviews .reviews__description {
  width: 608px;
  padding: 16px;
  border-radius: 10px;
  background-color: #f4f4fc;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__reviews .reviews__description .description__top-line {
  font-family: Muller, serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #2d2b31;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__reviews .reviews__description .description__top-line .date {
  display: grid;
  justify-items: end;
}
.artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__reviews .reviews__description .description__bottom-line {
  font-family: Muller, serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #2d2b31;
}

@media only screen and (max-width: 1500px) {
  .artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__works {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 1170px) {
  .artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__reviews .reviews__description {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .artists-primary .artists-primary__container .artists-primary__content {
    grid-template-columns: 1fr;
  }

  .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner {
    position: relative;
    top: inherit;
  }

  .artists-primary .artists-primary__container .artists-primary__content .content__artist-description {
    display: grid;
    justify-items: center;
  }

  .artists-inner {
    background-size: cover;
    height: 110px;
  }

  .artists-primary .artists-primary__container .artists-primary__content .content__artist-works .artist-works__title h2 {
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner {
    width: 100%;
  }

  .artists-primary .artists-primary__container .artists-primary__content .content__artist-description .artist-description__inner .artist-description__order .btn--order {
    width: 100%;
  }
}
