:root {
  --main-color: #ff6f69;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: transparent;
  color: #fff;
}

a, a:hover, a:focus, a:active {
  outline: none !important;
  text-decoration: none;
  color: #000;
}

.grid-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
}

/*min-height:32vh;*/
section {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  position: relative;
}
section .button__panels {
  position: absolute;
  display: grid;
  height: 100vh;
  align-items: end;
  grid-gap: 50px;
  pointer-events: none;
}
section .button__panels .wrapper {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 50px;
  grid-column-gap: 5px;
}
section .button__panels .btn--left {
  background: #e9ecef;
  box-shadow: 0px 3.30455px 49.5682px rgba(199, 203, 222, 0.54);
  border-radius: 8.26137px;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  pointer-events: auto;
  border: 5px solid white;
}
section .button__panels .btn--left img {
  width: 12%;
}
section .button__panels .btn--right {
  background: #e9ecef;
  box-shadow: 0 3.30455px 49.5682px rgba(199, 203, 222, 0.54);
  border-radius: 8.26137px;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  pointer-events: auto;
  border: 5px solid white;
}
section .button__panels .btn--right img {
  transform: rotateY(180deg);
  width: 12%;
}
section .button__panels .btn--rightR {
  background: #e9ecef;
  box-shadow: 0px 3.30455px 49.5682px rgba(199, 203, 222, 0.54);
  border-radius: 8.26137px;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  pointer-events: auto;
  border: 5px solid white;
}
section .button__panels .btn--rightR img {
  transform: rotateY(180deg);
  width: 17%;
}
section .button__panels .btn--leftR {
  background: #e9ecef;
  box-shadow: 0 3.30455px 49.5682px rgba(199, 203, 222, 0.54);
  border-radius: 8.26137px;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  pointer-events: auto;
  border: 5px solid white;
}
section .button__panels .btn--leftR img {
  width: 17%;
}
section .button__panels .btn--clip {
  background: #e9ecef;
  box-shadow: 0 3.30455px 49.5682px rgba(199, 203, 222, 0.54);
  border-radius: 8.26137px;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  pointer-events: auto;
  border: 5px solid white;
}
section .button__panels .btn--clip img {
  width: 60%;
}
section .button__panels .btn--area {
  background: #e9ecef;
  box-shadow: 0 3.30455px 49.5682px rgba(199, 203, 222, 0.54);
  border-radius: 8.26137px;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  pointer-events: auto;
  border: 5px solid white;
}
section .button__panels .btn--area img {
  width: 30%;
}
section .button__panels .btn--next-car {
  background: #e9ecef;
  box-shadow: 0px 3.30455px 49.5682px rgba(199, 203, 222, 0.54);
  border-radius: 8.26137px;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  pointer-events: auto;
  border: 5px solid white;
}
section .button__panels .btn--next-car img {
  width: 50%;
}
section .button__panels .btn--wall {
  background: #e9ecef;
  box-shadow: 0 3.30455px 49.5682px rgba(199, 203, 222, 0.54);
  border-radius: 8.26137px;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  pointer-events: auto;
  border: 5px solid white;
}
section .button__panels .btn--wall img {
  width: 30%;
}
section .button__panels .btn--ground-left {
  background: #e9ecef;
  box-shadow: 0 3.30455px 49.5682px rgba(199, 203, 222, 0.54);
  border-radius: 8.26137px;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  pointer-events: auto;
  border: 5px solid white;
}
section .button__panels .btn--ground-left img {
  width: 14%;
}
section .button__panels .btn--ground-right {
  background: #e9ecef;
  box-shadow: 0 3.30455px 49.5682px rgba(199, 203, 222, 0.54);
  border-radius: 8.26137px;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  pointer-events: auto;
  border: 5px solid white;
}
section .button__panels .btn--ground-right img {
  transform: rotateY(180deg);
  width: 14%;
}
section .button__panels .btn--wheel-active {
  background: #e9ecef;
  box-shadow: 0 3.30455px 49.5682px rgba(199, 203, 222, 0.54);
  border-radius: 8.26137px;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  pointer-events: auto;
  border: 5px solid white;
}
section .button__panels .btn--wheel-active img {
  width: 8%;
}
section .button__panels .btn--wheel-run {
  background: #e9ecef;
  box-shadow: 0 3.30455px 49.5682px rgba(199, 203, 222, 0.54);
  border-radius: 8.26137px;
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  pointer-events: auto;
  border: 5px solid white;
}
section .button__panels .btn--wheel-run img {
  width: 14%;
}

.template-canvas {
  background: red;
  width: 100%;
  height: 100%;
}

.sample-canvas {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: slateblue;
}
