:root {
  --main-color: #ff6f69; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

::selection {
  background-color: #fff;
  color: #fff; }

a, a:hover, a:focus, a:active {
  outline: none !important;
  text-decoration: none;
  color: #000; }

.grid-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto; }

/*min-height:32vh;*/
section {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  position: relative; }

svg {
  width: 100%;
  height: 100%; }

#bushes {
  cursor: pointer; }

@-webkit-keyframes buzz-out {
  10% {
    transform: translateX(3px) rotate(2deg); }
  20% {
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    transform: translateX(3px) rotate(2deg); }
  40% {
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    transform: translateX(2px) rotate(1deg); }
  60% {
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    transform: translateX(2px) rotate(1deg); }
  80% {
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    transform: translateX(1px) rotate(0deg); }
  100% {
    transform: translateX(-1px) rotate(0deg); } }
.three-group {
  transform: translateY(50px); }
