
@font-face {
  font-display: swap;
  font-family: 'SF UI Display';
  src: url('../fonts/SF/SFUIDisplay-Regular.woff2') format('woff2'),
  url('../fonts/SF/SFUIDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'SF UI Display';
  src: url('../fonts/SF-UI/SFUIDisplay-Bold.woff2') format('woff2'),
  url('../fonts/SF-UI/SFUIDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'SF UI Display';
  src: url('../fonts/SF-UI/SFUIDisplay-Medium.woff2') format('woff2'),
  url('../fonts/SF-UI/SFUIDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'SF UI Display';
  src: url('../fonts/SF-UI/SFUIDisplay-Semibold.woff2') format('woff2'),
  url('../fonts/SF-UI/SFUIDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


