:root {
  --grey-color: #D7E3E7;
  --orange-color: #F09E3E;
  --green-color: #A3CCAE;
  --gutter:20px;
}

.cursor--pink {
  position: fixed;
  pointer-events: none;
  width: 0.4rem;
  height: 0.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/cursor/yellow.svg);
  padding: 7px;
  transform: translate(-50%, -50%);
  transition: all 0.1s linear;
  border-radius: 100%;
  left: -100px;
  z-index: 10;
}
.cursor--pink img {
  width: 220%;
}

.cursor--green {
  position: fixed;
  pointer-events: none;
  width: 0.4rem;
  height: 0.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/cursor/green.svg);
  padding: 7px;
  transform: translate(-50%, -50%);
  transition: all 0.2s linear;
  border-radius: 100%;
  left: -100px;
  z-index: 10;
}
.cursor--green img {
  width: 220%;
}

.cursor--gray {
  position: fixed;
  pointer-events: none;
  width: 0.4rem;
  height: 0.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/cursor/grey.svg);
  padding: 7px;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
  border-radius: 100%;
  left: -100px;
  z-index: 10;
}
.cursor--gray img {
  width: 220%;
}

.lazy {
  display: none;
}

.catalog {
  width: 100%;
}
.catalog .catalog__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.catalog .catalog__container .catalog__content {
  padding-top: 21px;
  position: relative;
  z-index: 1;
}
.catalog .catalog__container .catalog__content .breadcrumbs {
  margin: 0;
  padding: 0;
}
.catalog .catalog__container .catalog__content .breadcrumbs li {
  display: inline-block;
}
.catalog .catalog__container .catalog__content .breadcrumbs li::after {
  content: "/";
  display: inline-block;
  font-size: 13px;
  color: #c4c4c4;
  margin: 0 16px;
}
.catalog .catalog__container .catalog__content .breadcrumbs li a {
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 144.7%;
  color: #727271;
}
.catalog .catalog__container .catalog__content .breadcrumbs li:nth-last-child(1)::after {
  display: none;
}
.catalog .catalog__container .catalog__content .breadcrumbs li:nth-child(1) a {
  color: #D7E3E7;
}
.catalog .catalog__container .catalog__content .content__title h1 {
  margin-top: 10px;
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 114.2%;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #1C1A1A;
}
.catalog .catalog__container .catalog__content .content__filter ul {
  padding: 0;
  margin: 0;
}
.catalog .catalog__container .catalog__content .content__filter ul li {
  display: inline-block;
}
.catalog .catalog__container .catalog__content .content__primary .category__separator {
  width: 100%;
  height: 1px;
  margin: 35px 0;
  border: 1px solid #F4FAFD;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  position: relative;
  z-index: 1;
  width: 100%;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category {
  position: relative;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category img {
  width: 100%;
  height: 100%;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide {
  position: absolute;
  width: 60%;
  min-width: 320px;
  height: 125px;
  bottom: -1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  padding: 0 21px;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slide__decription {
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 114.2%;
  letter-spacing: -0.02em;
  color: #1C1A1A;
  display: grid;
  align-items: center;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation {
  position: relative;
  z-index: 2;
  display: grid;
  justify-self: end;
  width: 100px;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation .swiper-button-next:after, .catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation .swiper-container-rtl .swiper-button-prev:after {
  content: "";
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation .swiper-button-prev:after, .catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation .swiper-container-rtl .swiper-button-next:after {
  content: "";
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation .swiper-button-next, .catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation .swiper-button-prev {
  outline: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #AFC8D1;
  top: 56%;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation .swiper-button-next i, .catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation .swiper-button-prev i {
  font-size: 12px;
  color: #6F7E84;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation .swiper-button-next.swiper-button-disabled, .catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation .swiper-button-prev.swiper-button-disabled {
  background-color: black;
  opacity: 1;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation .swiper-button-next.swiper-button-disabled i, .catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slider-navigation .swiper-button-prev.swiper-button-disabled i {
  color: white;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .swiper-container {
  width: 100%;
  height: 100%;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .swiper-pagination-bullet-active {
  background: #1C1A1A;
  outline: none;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .swiper-pagination {
  bottom: -5px;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__product {
  display: grid;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__product .product-card__body {
  border: 1px solid #F3F9FC;
  padding: 18px;
  height: 100%;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__product .product-card__body .product-card__inner .product-card__preview .swiper-product-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__product .product-card__body .product-card__inner .product-card__preview .swiper-slide {
  cursor: grab;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__product .product-card__body .product-card__inner .product-card__name {
  text-align: initial;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__product .product-card__body .product-card__inner .product-card__name a {
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 144.7%;
  transition: all 0.2s ease-in-out;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__product .product-card__body .product-card__inner .product-card__name a span:hover {
  color: var(--orange-color);
  transition: all 0.3s ease-in-out;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__product .product-card__body .product-card__inner .product-card__rating {
  padding-top: 15px;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__product .product-card__body .product-card__inner .product-card__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 18px;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__product .product-card__body .product-card__inner .product-card__bottom .product-card__prices {
  display: grid;
  justify-items: start;
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155%;
  letter-spacing: -0.02em;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__product .product-card__body .product-card__inner .product-card__bottom .product-card__wishlist {
  display: grid;
  justify-items: end;
  align-items: center;
}
.catalog .catalog__container .catalog__content .content__primary .primary__line .primary__product .product-card__body .product-card__inner .product-card__bottom .product-card__wishlist i {
  font-size: 22px;
  color: var(--grey-color);
}

@media only screen and (max-width: 1100px) {
  .catalog .catalog__container .catalog__content .content__primary .primary__line {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 460px) {
  .catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide {
    height: 60px;
    min-width: 260px;
  }
  .catalog .catalog__container .catalog__content .content__primary .primary__line .primary__category .category__slide .slide__decription {
    font-size: 23px;
  }
}
.review {
  width: 100%;
  padding: 150px 0;
}
.review .review__container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.review .review__container .review__decor {
  position: absolute;
  right: 0;
  top: -80px;
  z-index: 0;
}
.review .review__container .review__content {
  position: relative;
  z-index: 1;
}
.review .review__container .review__content .content__title h2 {
  text-align: center;
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 114.2%;
  letter-spacing: -0.02em;
  font-weight: 500;
  margin: 0;
}
.review .review__container .review__content .content__description {
  display: grid;
  justify-items: center;
}
.review .review__container .review__content .content__description p {
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155%;
  letter-spacing: -0.02em;
  text-align: center;
  width: 65%;
}
.review .review__container .review__content .content__gallery {
  padding-top: 87px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}
.review .review__container .review__content .content__gallery .gallery__item {
  display: grid;
}
.review .review__container .review__content .content__gallery .gallery__item img {
  width: 80%;
}
.review .review__container .review__content .content__gallery .gallery__item .item__description {
  display: grid;
}
.review .review__container .review__content .content__gallery .gallery__item .item__description p {
  padding-top: 10px;
  margin: 0;
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #1C1A1A;
  width: 75%;
}

@media only screen and (max-width: 900px) {
  .review .review__container .review__content .content__title h2 {
    font-size: 23px;
  }

  .review .review__container .review__content .content__description p {
    font-size: 13px;
    width: initial;
  }

  .review .review__container .review__content .content__gallery .gallery__item .item__description p {
    font-size: 13px;
    width: initial;
  }

  .review .review__container .review__content .content__gallery {
    padding-top: 20px;
  }

  .review .review__container .review__content .content__gallery .gallery__item {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .review .review__container .review__content .content__gallery .gallery__item img {
    width: 100%;
  }

  .review {
    padding: 30px 0;
  }

  .review .review__container .review__decor {
    display: none;
  }
}
.inst-tape {
  width: 100%;
}
.inst-tape .inst-tape__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.inst-tape .inst-tape__container .inst-tape__title h2 {
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155%;
  letter-spacing: -0.02em;
  font-size: 27px;
  font-weight: 500;
}
.inst-tape .inst-tape__gallery .gallery__slider {
  width: 100%;
  height: 350px;
}
.inst-tape .inst-tape__gallery .gallery__slider .swiper-container {
  width: 100%;
  height: 100%;
}
.inst-tape .inst-tape__gallery .gallery__slider .swiper-slide {
  cursor: grab;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.inst-tape .inst-tape__gallery .gallery__slider .swiper-slide img {
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .inst-tape .inst-tape__container .inst-tape__title h2 {
    font-size: 23px;
  }
}
.modal-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: block;
  opacity: 1;
}
