:root {
  --grey-color: #D7E3E7;
  --orange-color: #F09E3E;
  --green-color: #A3CCAE;
  --gutter:20px;
}

.cursor--pink {
  position: fixed;
  pointer-events: none;
  width: 0.4rem;
  height: 0.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/cursor/yellow.svg);
  padding: 7px;
  transform: translate(-50%, -50%);
  transition: all 0.1s linear;
  border-radius: 100%;
  left: -100px;
  z-index: 10;
}
.cursor--pink img {
  width: 220%;
}

.cursor--green {
  position: fixed;
  pointer-events: none;
  width: 0.4rem;
  height: 0.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/cursor/green.svg);
  padding: 7px;
  transform: translate(-50%, -50%);
  transition: all 0.2s linear;
  border-radius: 100%;
  left: -100px;
  z-index: 10;
}
.cursor--green img {
  width: 220%;
}

.cursor--gray {
  position: fixed;
  pointer-events: none;
  width: 0.4rem;
  height: 0.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/cursor/grey.svg);
  padding: 7px;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
  border-radius: 100%;
  left: -100px;
  z-index: 10;
}
.cursor--gray img {
  width: 220%;
}

.lazy {
  display: none;
}

.shop-cart {
  width: 100%;
}
.shop-cart .shop-cart__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.shop-cart .shop-cart__container .shop-cart__content {
  padding-top: 21px;
  position: relative;
  z-index: 1;
}
.shop-cart .shop-cart__container .shop-cart__content .breadcrumbs {
  margin: 0;
  padding: 0;
}
.shop-cart .shop-cart__container .shop-cart__content .breadcrumbs li {
  display: inline-block;
}
.shop-cart .shop-cart__container .shop-cart__content .breadcrumbs li::after {
  content: "/";
  display: inline-block;
  font-size: 13px;
  color: #c4c4c4;
  margin: 0 16px;
}
.shop-cart .shop-cart__container .shop-cart__content .breadcrumbs li a {
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 144.7%;
  color: #727271;
}
.shop-cart .shop-cart__container .shop-cart__content .breadcrumbs li:nth-last-child(1)::after {
  display: none;
}
.shop-cart .shop-cart__container .shop-cart__content .breadcrumbs li:nth-child(1) a {
  color: #D7E3E7;
}
.shop-cart .shop-cart__container .shop-cart__content .content__title h1 {
  margin-top: 10px;
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 114.2%;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #1C1A1A;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .shop-cart__decoration {
  position: absolute;
  right: -100px;
  bottom: 0;
  z-index: 0;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 2fr min-content;
  align-items: center;
  border-bottom: 1px solid #F4FAFD;
  padding-bottom: 24px;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__image img {
  display: block;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__description {
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 144.7%;
  font-size: 14px;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__number-spinner {
  display: grid;
  grid-auto-flow: column;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__number-spinner .spin-button--minus {
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #F4FAFD;
  outline-color: var(--grey-color);
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__number-spinner .spin-button--plus {
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #F4FAFD;
  outline-color: var(--grey-color);
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__number-spinner .number-spinner {
  width: 45px;
  height: 45px;
  contain: strict;
  border: none;
  outline-color: var(--grey-color);
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__price {
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155%;
  letter-spacing: -0.02em;
  font-size: 25px;
  font-weight: 500;
  display: grid;
  justify-items: center;
  text-align: center;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop input {
  text-align: center;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop input[type=text] {
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 144.7%;
  font-size: 14px;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__delete a {
  display: grid;
  align-items: center;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__delete a i {
  font-size: 30px;
  color: #D7E3E7;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 20px 0;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .card__continue-shopping {
  display: grid;
  align-items: center;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .card__continue-shopping a {
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 144.7%;
  font-size: 16px;
  font-weight: 500;
  color: #D7E3E7;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .card__price-count {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 20px;
  grid-auto-flow: column;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .card__price-count .count__product {
  display: grid;
  align-items: center;
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 144.7%;
  font-size: 16px;
  color: #1C1A1A;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .card__price-count .count__price {
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155%;
  letter-spacing: -0.02em;
  font-size: 27px;
  font-weight: 500;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .order-purchase {
  background-color: black;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .order-purchase a {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 144.7%;
  font-size: 16px;
  font-weight: 500;
}
.shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__banner {
  width: 100%;
  height: 350px;
  background: #F9FCFE;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop {
    position: relative;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary {
    grid-template-columns: 1fr;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop {
    grid-template-columns: 100px 1fr;
    padding-bottom: 90px;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__description {
    padding-right: 15px;
  }

  .item__delete {
    position: absolute;
    right: -10px;
    top: -10px;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__delete a i {
    font-size: 20px;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__price {
    font-size: 12px;
    position: absolute;
    padding-top: 20px;
    padding-left: 100px;
    left: 0;
    margin: 0 auto;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__item--desktop .item__number-spinner {
    position: absolute;
    padding-top: 20px;
    padding-left: 100px;
    left: 0;
    bottom: 10px;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: column;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer {
    grid-template-columns: auto;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .card__continue-shopping {
    display: none;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .card__price-count {
    justify-content: initial;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .card__price-count .count__price {
    text-align: end;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .order-purchase {
    padding: 20px 0;
    border-radius: 5px;
    margin-top: 20px;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .card__price-count .count__product {
    font-size: 12px;
  }

  .shop-cart .shop-cart__container .shop-cart__content .content__primary .primary__card .card__footer .card__price-count .count__price {
    font-size: 12px;
  }
}
.inst-tape {
  width: 100%;
}
.inst-tape .inst-tape__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.inst-tape .inst-tape__container .inst-tape__title h2 {
  font-family: Gotham Pro, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155%;
  letter-spacing: -0.02em;
  font-size: 27px;
  font-weight: 500;
}
.inst-tape .inst-tape__gallery .gallery__slider {
  width: 100%;
  height: 350px;
}
.inst-tape .inst-tape__gallery .gallery__slider .swiper-container {
  width: 100%;
  height: 100%;
}
.inst-tape .inst-tape__gallery .gallery__slider .swiper-slide {
  cursor: grab;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.inst-tape .inst-tape__gallery .gallery__slider .swiper-slide img {
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .inst-tape .inst-tape__container .inst-tape__title h2 {
    font-size: 23px;
  }
}
.modal-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: block;
  opacity: 1;
}
