/*@font-face {
  font-family: "Lato";
  src: url('/fonts/Lato/Lato-Regular.ttf?1292360400') format('truetype');
}*/

/*@font-face {
  font-family: "montserrat";
  font-display: fallback;
  font-weight: bold;
  src: local("montserrat"), url(../fonts/Montserrat-Bold.woff2) format('woff2');
}*/
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/*@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


*/

