@import "_var.scss";
@import "_components.scss";





 .grid-container {
 	display: grid;
 	max-width:1200px;
 	margin:0 auto;
 } 

/*min-height:32vh;*/

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 104px;
	padding: 10px 0;
	box-shadow: 0 3px 42px 0 rgba(170, 177, 194, 0.25);
	background-color: #ffffff;
	z-index: 9;
	display: grid;
	align-items: center;
	& .nav-bar {
		padding: 0 20px 0 270px;
		& .menu {
			display: grid;
			grid-template-columns: 1fr 315px;
			align-items: end;
			& .logo {
				display: none;
				& .item--logo {
					width: min-content;
					height: 100%;
					display: grid;
					& img {
						width: 102px;
					}
				}

			}
			& .navigation {
				display: grid;
				justify-items: center;
				& ul {
					padding:0;
					margin: 0;
					& li {
						display: inline-block;
						padding: 0 10px;
						transition: all 0.5s ease-in-out;
						border-radius: 20px;
						& a {
							font-family: Muller, serif;
							font-size: 18px;
							font-weight: normal;
							font-stretch: normal;
							font-style: normal;
							line-height: 1.78;
							letter-spacing: normal;
							text-align: right;
							color: #7e8ccc;
							width: 100%;
							height: 100%;
							display: grid;
							& i {
								transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
								padding-right: 8px;
								font-size: 14px;
								opacity: 0.25;
								color: #7e8ccc;
							}
							& p {
								transition: all 0.3s ease-in-out;
								margin: 0;
								padding: 0;
							}
						}
						&:hover {
							transition: all 0.3s ease-in-out;
							border-radius: 20px;
							background-color: #f1f3fc;
							& i {
								transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
								color: #4c55ce;
								opacity: 1;
							}
							& p{
								transition: all 0.3s ease-in-out;
								color: #4c55ce;
							}
						}
					}
				}
			}
			& .user-actions {
				display: grid;
				justify-items: end;
				align-self: center;
				align-items: end;
				grid-template-columns: 1fr 85px  60px;
				grid-gap: 10px;
				& ul {
					padding:0;
					margin: 0;
					text-align: end;
					& li {
						display: inline-block;
						font-family: Muller, serif;
						font-size: 18px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.78;
						letter-spacing: normal;
						text-align: right;
						color: black;
						padding-right: 7px;
						& a {
							font-family: Muller, serif;
							font-size: 18px;
							font-weight: normal;
							font-stretch: normal;
							font-style: normal;
							line-height: 1.78;
							letter-spacing: normal;
							text-align: right;
							color: black;
							transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
							&:hover {
								transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
								color: #4c55ce;
							}
							& span {
								color: rgba(45, 43, 49, 0.7);
							}
						}
					}
				}
				& .language {
					width: 56px;
					height: 56px;
					border: solid 1px rgba(70, 68, 98, 0.5);
					display: grid;
					place-items: center;
					border-radius: 50%;
					& a {
						display: grid;
						width: 100%;
						height: 100%;
						place-items: center;
						font-family: Muller, serif;
						font-size: 18px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.78;
						letter-spacing: normal;
						text-align: right;
						color: black;
					}
				}
				& .logged-wrapper {
					width: 100%;
					display: grid;
					grid-template-columns: max-content 16px;
					grid-gap: 5px;
					cursor: pointer;
				}
				& .logged {
					position: relative;
					width: 56px;
					height: 56px;
					display: grid;
					place-items: center;
					border-radius: 50%;
					background-color: #4c55ce;
					cursor: pointer;

					& a {
						display: grid;
						width: 100%;
						height: 100%;
						place-items: center;
						font-family: Muller, serif;
						font-size: 18px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.78;
						letter-spacing: normal;
						text-align: right;
						color: white;


					}
					& .logged-menu{
						display: none;
						opacity: 0;
						transform: skewX(-40deg);
						position: absolute;
						top: 70px;
						right: -17px;
						width: 232px;
						height: 144px;
						border-radius: 10px;
						box-shadow: 0 2px 10px 0 rgba(209, 210, 217, 0.5);
						background-color: #ffffff;
						padding: 16px;
						&__title {
							font-family: Muller, serif;
							font-size: 14px;
							font-weight: normal;
							font-stretch: normal;
							font-style: normal;
							line-height: 2.29;
							letter-spacing: normal;
							color: rgba(45, 43, 49, 0.53);
						}
						&__exit {
							padding-top: 18px;
							& a {
								display: grid;
								justify-items: start;
								font-family: Muller, serif;
								font-size: 16px;
								font-weight: normal;
								font-stretch: normal;
								font-style: normal;
								line-height: 2;
								letter-spacing: normal;
								color: #4c55ce;
							}
						}
						&__buttons-wrapper{
							width: 100%;
							display: grid;
							position: relative;
							& .btn--painter {
								width: 100%;
								height: 40px;
								border-radius: 20px;
								box-shadow: inset 0 1px 7px 0 rgba(211, 228, 239, 0.15);
								background-color: #f1f3fc;
								& a {
									display: grid;
									width: 100%;
									height: 100%;
									justify-items: end;
									font-family: Muller, serif;
									font-size: 14px;
									font-weight: normal;
									font-stretch: normal;
									font-style: normal;
									line-height: 2.5;
									letter-spacing: normal;
									text-align: center;
									color: #4c55ce;
									padding-right: 15.8px;
								}
							}
							& .btn--customer {
								position: absolute;
								top: 2.5px;
								left: 2px;
								width: 101px;
								height: 35px;
								border-radius: 17.5px;
								box-shadow: inset 0 1px 7px 0 rgba(211, 228, 239, 0.15);
								background-color: #4c55ce;
								& a {
									font-family: Muller, serif;
									font-size: 14px;
									font-weight: normal;
									font-stretch: normal;
									font-style: normal;
									line-height: 2.5;
									letter-spacing: normal;
									text-align: center;
									color: #ffffff;
								}
							}
						}
					}
				}
				& .arrows {
					position: absolute;
					right: -23px;
					width: 16px;
					height: 100%;
					cursor: pointer;
					& i {
						transition: all 0.7s ease-out;
						position:absolute;
						margin:auto;
						left:0;
						right:0;
						top:45%;
						font-size: 8px;
					}
				}
				& .active-arrow{
                   & i {
					   transform: rotate(180deg);
				   }
				}
			}

		}
	}
	& .mobile-navigation {
		overflow: auto;
		position: fixed;
		top: 106px;
		display: none;
		z-index: 10;
		width: 100%;
		height: 100%;
		box-shadow: 0 3px 42px 0 rgba(170, 177, 194, 0.25);
		background-color: #ffffff;
		transform: translateX(-100%);
		&__inner {
			position: relative;
			height: 100%;
			& .logged-menu {
				padding: 30px 0;
				& .logged-menu__title {
					font-family: Muller, serif;
					font-size: 14px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 2.29;
					letter-spacing: normal;
					color: rgba(45, 43, 49, 0.53);
					padding-left: 16px;
				}
			}
			& .logged-menu__body{
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
			& .logged-menu__buttons-wrapper{
				width: 200px;
				display: grid;
				position: relative;
				& .btn--painter {
					width: 100%;
					height: 40px;
					border-radius: 20px;
					box-shadow: inset 0 1px 7px 0 rgba(211, 228, 239, 0.15);
					background-color: #f1f3fc;
					& a {
						display: grid;
						width: 100%;
						height: 100%;
						justify-items: end;
						align-items: center;
						font-family: Muller, serif;
						font-size: 14px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 2.5;
						letter-spacing: normal;
						text-align: center;
						color: #4c55ce;
						padding-right: 15.8px;
					}
				}
				& .btn--customer {
					display: grid;
					position: absolute;
					top: 2.5px;
					left: 2px;
					width: 101px;
					height: 35px;
					border-radius: 17.5px;
					box-shadow: inset 0 1px 7px 0 rgba(211, 228, 239, 0.15);
					background-color: #4c55ce;
					& a {
						font-family: Muller, serif;
						font-size: 14px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 2.5;
						letter-spacing: normal;
						text-align: center;
						color: #ffffff;
					}
				}
			}
			& .logged-menu__exit {
				& a {
					display: grid;
					justify-items: center;
					font-family: Muller, serif;
					font-size: 16px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 2.5;
					letter-spacing: normal;
					color: #4c55ce;
				}
			}
			& .template-navigation__logo {
				text-align: center;
				padding-top: 16px;
				padding-bottom: 129px;
			}
			& .template-navigation__menu{
				margin: 0;

				padding: 0 0 16px 0;
				& .menu__item {
					display: grid;
					grid-template-columns: 54px 1fr;
					grid-gap: 8px;
					align-items: center;
					margin-bottom: 27.5px;
					& a {
						font-family: Muller, serif;
						font-size: 16px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 2;
						letter-spacing: normal;
						color: #2d2b31;
						position: relative;
						transition: all 0.57s cubic-bezier(0, 0, 0.58, 1);
						& .circle {
							position: absolute;
							left: 180px;
							top: -6px;
							width: 18px;
							height: 18px;
							border-radius: 50%;
							background-color: #98d53e;
							display: grid;
							place-items: center;
							& i {
								font-size: 10px;
								color: white;
							}
						}
					}
					& .item__button {
						width: 54px;
						height: 48px;
						border-top-right-radius:12px;
						border-bottom-right-radius:12px;
						display: grid;
						place-items: center;
						transition: all 0.57s cubic-bezier(0, 0, 0.58, 1);
						& i {
							transition: all 0.57s cubic-bezier(0, 0, 0.58, 1);
							font-size: 25px;
							padding-bottom: 3px;
						}
					}

				}
				& .menu__item:nth-child(1){
					& .item__button{
						& i {
							color: #b892d4;
						}
					}
				}
				& .menu__item:nth-child(2){
					& .item__button{
						& i {
							color: #f17d6f;
						}
					}
				}
				& .menu__item:nth-child(3){
					& .item__button{
						& i {
							color: #98d53e;
						}
					}
				}
				& .menu__item:nth-child(4){
					& .item__button{
						& i {
							color: #77b7f0;
						}
					}
				}
				& .menu__item:nth-child(5){
					& .item__button{
						& i {
							color: #f3cf6b;
						}
					}
				}
				& .menu__item:nth-child(1)[class~="active--items"] {
					& .item__button {
						background-color:#b892d4;
						& i {
							color: white;
						}
					}
					& a {
						color: #b892d4;
					}
				}
				& .menu__item:nth-child(2)[class~="active--items"] {
					& .item__button {
						background-color:#f17d6f;
						& i {
							color: white;
						}
					}
					& a {
						color: #f17d6f;
					}
				}
				& .menu__item:nth-child(3)[class~="active--items"] {
					& .item__button {
						background-color:#98d53e;
						& i {
							color: white;
						}
					}
					& a {
						color: #98d53e;
					}
				}
				& .menu__item:nth-child(4)[class~="active--items"] {
					& .item__button {
						background-color:#77b7f0;
						& i {
							color: white;
						}
					}
					& a {
						color: #77b7f0;
					}
				}
				& .menu__item:nth-child(5)[class~="active--items"] {
					& .item__button {
						background-color:#f3cf6b;
						& i {
							color: white;
						}
					}
					& a {
						color: #f3cf6b;
					}
				}
			}
			& .template-navigation__text {
				width: 100%;
				display: grid;
				justify-items: center;
				& p {
					margin: 14px;
					padding-bottom: 28.5px;
					font-family: Muller, serif;
					font-size: 14px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.15;
					letter-spacing: normal;
					text-align: center;
					color: #2d2b31;
				}
			}

		}
	}
}

@media only screen and (max-width : 920px) {
	header .mobile-navigation{
		display: block;
	}

	header .nav-bar{
		padding: 0 20px 0 20px;
	}
	header .nav-bar .menu .navigation{
		display: none;
	}
	header .nav-bar .menu .logo{
		display: block;
	}
	header .nav-bar .menu .user-actions {
		grid-template-columns: 1fr;
		& .logged-wrapper{
			display: none;
		}
		& ul {
			display: none;
		}
	}
	header .nav-bar .menu{
		grid-template-columns: 1fr min-content 40px;
		grid-gap: 10px;
		align-items: center;
	}


}

//burger
@media only screen and (max-width : 920px) {
   header {
	   & .nav-bar {
		   & .menu {
			   & .navigation {
				   display: none;
			   }
			   & .contact{
				   display: none;
			   }
			   & .burger-menu {
				   display: grid;
				   justify-self: end;
				   width: 20px;
				   height: 20px;
				   position: relative;
				   & span {
					   cursor: pointer;
					   border-radius: 10px;
					   height: 4px;
					   width: 30px;
					   background: rgba(70, 68, 98, 0.5);
					   position: absolute;
					   display: block;
					   content: '';
					   right: 0;
					   &::before {
						   top: 16px;
						   cursor: pointer;
						   border-radius: 20px;
						   height: 4px;
						   width: 30px;
						   background: rgba(70, 68, 98, 0.5);
						   position: absolute;
						   display: block;
						   content: '';
						   right: 0;
						   transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
					   }
					   &::after {
						   cursor: pointer;
						   border-radius: 20px;
						   height: 4px;
						   width: 30px;
						   background: rgba(70, 68, 98, 0.5);
						   position: absolute;
						   display: block;
						   content: '';
						   right: 0;
						   top: 8px;
						   transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
					   }
				   }
				   & .menu-icon-active{
					   background-color: transparent;
					   &::before {
						   transform: rotate(45deg);
						   top: 8px;
						   transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
					   }
					   &::after {
						   transform: rotate(-45deg);
						   top: 8px;
						   transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
					   }
				   }
			   }
		   }
	   }
   }
}

.modal-section {
	display: grid;
	place-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	padding: 20px;
	overflow: auto;
	display: none;
	& .modal-overlay {
		background-color: rgba(62, 65, 94, 0.6);
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 11;
		display: none;
		opacity: 0;
	}

	& .form-popup{
		z-index: 12;
		display: none;
		opacity: 0;

	}

	& .sketch-form{
		display: none;
		position: relative;
		width: 655px;
		height: 488px;
		padding: 32px 40px 48px 40px;
		border-radius: 10px;
		background-color: #ffffff;
		transition: all .3s ease-in-out;
		transform: scale(0.7);
		transition-duration: .5s;
		& .sketch-form__title{
			font-family: JOURNALISM, serif;
			font-size: 32px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 2.44;
			letter-spacing: 0.66px;
			text-align: center;
			color: #2d2b31;
			padding-bottom: 40px;
		}
		& .close-form {
			cursor: pointer;
			position: absolute;
			right: -100px;
			top: -100px;
			& i {
				transition: all .3s ease-in-out;
				color: white;
				font-size: 30px;
			}
			&:hover {
				& i {
					color: #4c55ce;
					transition: all .3s ease-in-out;

				}
			}
		}
		& .sketch-form__wrapper {
			position: relative;
			& textarea {
				display: block;
				resize: none;
				outline: none;
				width: 100%;
				height: 217px;
				border-radius: 10px;
				border: solid 1px #7e8ccc;
				background-color: #ffffff;
				padding: 16px;
				font-family: Muller, serif;
				font-size: 20px;
				line-height: 1.15;
				&::placeholder {
					font-family: Muller, serif;
					font-size: 20px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.15;
					letter-spacing: normal;
					color: rgba(45, 43, 49, 0.6);
				}
			}
			& .loaded {
				width: max-content;
				position: absolute;
				bottom: 0;
				right: 0;
				& label {
					width: 100%;
					height: 100%;
				}
				& .load-item{
					cursor: pointer;
					width: 40px;
					height: 40px;
					background-color: #4c55ce;
					border-top-left-radius: 10px;
					border-bottom-right-radius: 10px;
					display: grid;
					place-items: center;
				}
				input[type=file] {
					display: none;
				}
			}
		}
		& .sketch-form__description{
			font-family: Muller, serif;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 2.29;
			letter-spacing: normal;
			color: rgba(45, 43, 49, 0.8);
		}
		& .button-wrapper {
			padding-top: 24px;
			width: 100%;
			display: grid;
			justify-items: center;
			& .btn-send-1 {
				outline: none;
				cursor: pointer;
				border: none;
				width: 192px;
				height: 48px;
				border-radius: 28px;
				box-shadow: 8px 6px 15px 0 #e1e3fb;
				background-color: #4c55ce;
				font-family: Muller, serif;
				font-size: 14px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.71;
				letter-spacing: normal;
				text-align: center;
				color: #ffffff;
			}
		}
	}
	& .sketch-canceling-form{
		position: relative;
		display: none;
		width: 655px;
		height: 432px;
		padding: 20px 95px 20px 95px;
		border-radius: 10px;
		background-color: #ffffff;
		transition: all .3s ease-in-out;
		transform: scale(0.7);
		transition-duration: .5s;
		& .close-form {
			cursor: pointer;
			position: absolute;
			right: -100px;
			top: -100px;
			& i {
				transition: all .3s ease-in-out;
				color: white;
				font-size: 30px;
			}
			&:hover {
				& i {
					color: #4c55ce;
					transition: all .3s ease-in-out;

				}
			}
		}
		& .sketch-canceling-form__title{
			font-family: JOURNALISM, serif;
			font-size: 32px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 2.44;
			letter-spacing: 0.66px;
			text-align: center;
			padding-bottom: 32px;
			color: #2d2b31;
		}
		& .sketch-canceling-form__description{
			font-family: Muller, serif;
			font-size: 18px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.78;
			letter-spacing: normal;
			text-align: center;
			color: #2d2b31;
			padding-bottom: 32px;
		}
		& .sketch-canceling-form__order{
			font-family: Muller, serif;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.71;
			letter-spacing: normal;
			text-align: center;
			color: #2d2b31;
		}
		& .sketch-canceling-form__button-wrapper{
			display: grid;
			grid-template-columns: 1fr 1fr;
			padding-top: 40px;
			& .btn--send{
				border-radius: 24px;
				box-shadow: 8px 6px 15px 0 #e1e3fb;
				background-color: #4c55ce;
				width: 184px;
				height: 48px;
				& a {
					width: 100%;
					height: 100%;
					display: grid;
					place-items: center;
					font-family: Muller, serif;
					font-size: 14px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.71;
					letter-spacing: normal;
					text-align: center;
					color: #ffffff;
				}
			}
			& .btn--canceling {
				border-radius: 24px;
				background-color: #f4f4fc;
				width: 184px;
				height: 48px;
				& a {
					width: 100%;
					height: 100%;
					display: grid;
					place-items: center;
					font-family: Muller, serif;
					font-size: 14px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.71;
					letter-spacing: normal;
					text-align: center;
					color: #4c55ce;
				}
			}

		}
	}
	& .sketch-submit-form{
		display: none;
		width: 655px;
		height: 432px;
		border-radius: 10px;
		background-color: #ffffff;
		padding: 32px 95px 20px 95px;
		position: relative;
		transition: all .3s ease-in-out;
		transform: scale(0.7);
		transition-duration: .5s;
		justify-items: center;
		& .sketch-submit-form__title {
			font-family: JOURNALISM, serif;
			font-size: 32px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.31;
			letter-spacing: 0.66px;
			text-align: center;
			color: #2d2b31;
			width: 70%;
		}
		& .close-form {
			cursor: pointer;
			position: absolute;
			right: -100px;
			top: -100px;
			& i {
				transition: all .3s ease-in-out;
				color: white;
				font-size: 30px;
			}
			&:hover {
				& i {
					color: #4c55ce;
					transition: all .3s ease-in-out;

				}
			}
		}
		& .sketch-submit-form__description{
			font-family: Muller, serif;
			font-size: 18px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.78;
			letter-spacing: normal;
			text-align: center;
			color: #2d2b31;
			display: grid;
			align-items: center;
		}
	}
	& .sketch-cause{
		display: none;
		width: 655px;
		height: auto;
		margin: 24px 24px 56px 9px;
		padding: 32px 40px 48px 40px;
		border-radius: 10px;
		background-color: #ffffff;
		position: relative;
		transition: all .3s ease-in-out;
		transform: scale(0.7);
		transition-duration: .5s;
		& .close-form {
			cursor: pointer;
			position: absolute;
			right: -100px;
			top: -100px;
			& i {
				transition: all .3s ease-in-out;
				color: white;
				font-size: 30px;
			}
			&:hover {
				& i {
					color: #4c55ce;
					transition: all .3s ease-in-out;

				}
			}
		}
		& .sketch-cause__title {
			font-family: JOURNALISM, serif;
			font-size: 32px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 2.44;
			letter-spacing: 0.66px;
			text-align: center;
			color: #2d2b31;
			padding-bottom: 32px;
		}
		& .sketch-cause__description{
			font-family: Muller, serif;
			font-size: 18px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.78;
			letter-spacing: normal;
			text-align: center;
			color: #2d2b31;
			padding-bottom: 40px;
		}
		& ul {
			width: 300px;
			margin: auto;
			padding: 0;
			& li {
				padding-bottom: 24px;
				position: relative;
				list-style-type: none;
				.container {
					display: block;
					position: relative;
					padding-left: 40px;
					font-family: Muller, serif;
					font-size: 16px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 2;
					letter-spacing: normal;
					color: #2d2b31;
					cursor: pointer;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}
				.container input {
					position: absolute;
					opacity: 0;
					cursor: pointer;
				}

				.checkmark {
					position: absolute;
					top: 0;
					left: 0;
					height: 32px;
					width: 32px;
					border: solid 1px #7e8ccc;
					border-radius: 50%;
				}
				.checkmark:after {
					content: "";
					position: absolute;
					display: none;
				}

				.container input:checked ~ .checkmark:after {
					display: block;
				}

				.container .checkmark:after {
					top: 7px;
					left: 7px;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					background-color: #4c55ce;
				}
			}
		}
		& textarea {
			resize: none;
			outline: none;
			width: 100%;
			height: 120px;
			border-radius: 10px;
			border: solid 1px #7e8ccc;
			background-color: #ffffff;
			font-family: Muller, serif;
			font-size: 14px;
			line-height: 2.29;
			font-weight: normal;
			padding: 16px;
			margin-bottom: 40px;
			&::placeholder {
				font-family: Muller, serif;
				font-size: 14px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 2.29;
				letter-spacing: normal;
				color: rgba(45, 43, 49, 0.6);
			}
		}
		& .sketch-cause__send-button{
			width: 100%;
			display: grid;
			justify-items: center;
			& button{
				cursor: pointer;
				outline: none;
				border: none;
				width: 184px;
				height: 48px;
				border-radius: 28px;
				box-shadow: 8px 6px 15px 0 #e1e3fb;
				background-color: #4c55ce;
				font-family: Muller, serif;
				font-size: 14px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.71;
				letter-spacing: normal;
				text-align: center;
				color: #ffffff;
			}
		}

	}
}


@media only screen and (max-width : 876px) {
	.modal-section .sketch-form{
		width: 100%;
		height: auto;
	}
	.modal-section .sketch-form .close-form{
		right: 5px;
	}
	.modal-section .sketch-canceling-form{
		width: 100%;
		height: auto;
	}
	.modal-section .sketch-canceling-form .close-form{
		right: 5px;
	}
	.modal-section .sketch-canceling-form .sketch-canceling-form__button-wrapper{
		justify-items: center;
	}
	.modal-section .sketch-submit-form{
		width: 100%;
		height: auto;
	}
	.modal-section .sketch-submit-form .close-form{
		right: 5px;
	}
	.modal-section .sketch-cause{
		width: 100%;
	}
	.modal-section .sketch-cause .close-form {
		right: 5px;
		top: -40px;
	}
}

@media only screen and (max-width : 600px) {
	.modal-section .sketch-canceling-form{
		padding: 20px 10px 20px 10px;
	}
	.modal-section .sketch-submit-form .sketch-submit-form__title{
		width: 100%;
	}
}
@media only screen and (max-width : 480px) {
	.modal-section .sketch-cause ul{
		width: auto;
	}
}
@media only screen and (max-width : 460px) {
	.modal-section .sketch-form .sketch-form__title{
		font-size: 28px;
		line-height: 1.15;
	}
	.modal-section .sketch-canceling-form .sketch-canceling-form__button-wrapper{
		grid-template-columns: auto;
		grid-gap: 30px;
	}
	.modal-section .sketch-submit-form{
		padding: 20px;
	}
}
@media only screen and (max-width : 360px) {
	.modal-section .sketch-form{
		padding: 20px 40px 20px 40px;
	}
	.modal-section .sketch-form .sketch-form__title{
		padding-bottom: 10px;
	}
	.modal-section .sketch-form .close-form{
		top: -30px;
		& i {
			font-size: 20px;
		}
	}
	.modal-section .sketch-canceling-form .close-form{
		top: -30px;
		& i {
			font-size: 20px;
		}
	}
	.modal-section .sketch-canceling-form .sketch-canceling-form__title{
		line-height: 1.44;
	}
	.modal-section .sketch-canceling-form .sketch-canceling-form__description{
		font-size: 14px;
	}
	.modal-section .sketch-submit-form .close-form{
		top: -30px;
		& i {
			font-size: 20px;
		}
	}
	.modal-section .sketch-cause .close-form{
		top: -30px;
		& i {
			font-size: 20px;
		}
	}

}
