@import "_var.scss";



.template-navigation{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 269px;
	height: 100%;
	box-shadow: 0 3px 42px 0 rgba(170, 177, 194, 0.25);
	background-color: #ffffff;
	&__inner {
		position: relative;
		height: 100%;
		& .template-navigation__logo {
			text-align: center;
			padding-top: 16px;
			padding-bottom: 129px;
		}
		& .template-navigation__menu{
			margin: 0;
			padding: 0;
			& .menu__item {
				display: grid;
				grid-template-columns: 54px 1fr;
				grid-gap: 8px;
				align-items: center;
				margin-bottom: 27.5px;
				& a {
					font-family: Muller, serif;
					font-size: 16px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 2;
					letter-spacing: normal;
					color: #2d2b31;
					position: relative;
					transition: all 0.57s cubic-bezier(0, 0, 0.58, 1);
					& .circle {
						position: absolute;
						right:20px;
						top: -6px;
						width: 18px;
						height: 18px;
						border-radius: 50%;
						background-color: #98d53e;
						display: grid;
						place-items: center;
						& i {
							font-size: 10px;
							color: white;
						}
					}
				}
				& .item__button {
					width: 54px;
					height: 48px;
					border-top-right-radius:12px;
					border-bottom-right-radius:12px;
					display: grid;
					place-items: center;
					transition: all 0.57s cubic-bezier(0, 0, 0.58, 1);
					& i {
						transition: all 0.57s cubic-bezier(0, 0, 0.58, 1);
						font-size: 25px;
						padding-bottom: 3px;
					}
				}

			}
			& .menu__item:nth-child(1){
				& .item__button{
					& i {
						color: #b892d4;
					}
				}
			}
			& .menu__item:nth-child(2){
				& .item__button{
					& i {
						color: #f17d6f;
					}
				}
			}
			& .menu__item:nth-child(3){
				& .item__button{
					& i {
						color: #98d53e;
					}
				}
			}
			& .menu__item:nth-child(4){
				& .item__button{
					& i {
						color: #77b7f0;
					}
				}
			}
			& .menu__item:nth-child(5){
				& .item__button{
					& i {
						color: #f3cf6b;
					}
				}
			}
			& .menu__item:nth-child(1)[class~="active--item"] {
				& .item__button {
					background-color:#b892d4;
					& i {
						color: white;
					}
				}
				& a {
					color: #b892d4;
				}
			}
			& .menu__item:nth-child(2)[class~="active--item"] {
				& .item__button {
					background-color:#f17d6f;
					& i {
						color: white;
					}
				}
				& a {
					color: #f17d6f;
				}
			}
			& .menu__item:nth-child(3)[class~="active--item"] {
				& .item__button {
					background-color:#98d53e;
					& i {
						color: white;
					}
				}
				& a {
					color: #98d53e;
				}
			}
			& .menu__item:nth-child(4)[class~="active--item"] {
				& .item__button {
					background-color:#77b7f0;
					& i {
						color: white;
					}
				}
				& a {
					color: #77b7f0;
				}
			}
			& .menu__item:nth-child(5)[class~="active--item"] {
				& .item__button {
					background-color:#f3cf6b;
					& i {
						color: white;
					}
				}
				& a {
					color: #f3cf6b;
				}
			}
		}
		& .template-navigation__text {
			width: 100%;
			position: absolute;
			bottom: 0;
			display: grid;
			justify-items: center;
			& p {
				margin: 14px;
				padding-bottom: 28.5px;
				font-family: Muller, serif;
				font-size: 14px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.15;
				letter-spacing: normal;
				text-align: center;
				color: #2d2b31;
			}
		}

	}
}




 .main-area{
	position: relative;
	z-index: 3;
	margin-left: 269px;
	padding: 128px 24px 120px 24px;
	 min-height: 100vh;
	 height: 100%;
	 background-color: #f4f3fa;
	 &__inner {
		 min-height: 100%;
		 border-radius: 10px;
		 box-shadow: 0 3px 42px 0 rgba(170, 177, 194, 0.25);
		 background-color: #ffffff;
		 padding: 48px;
		// write new section here
		 & .customer-sketches{
			 & .link-back-to-sketches{
				 padding-bottom: 32px;
				 & a {
					 font-family: Muller, serif;
					 font-size: 14px;
					 font-weight: normal;
					 font-stretch: normal;
					 font-style: normal;
					 line-height: 2.71;
					 letter-spacing: normal;
					 color: #4c55ce;
					 & i {
						 font-size: 12px;
						 color: #4c55ce;
						 padding-right: 7.2px;
					 }
				 }
			 }
			 & .customer-sketches__title{
				 font-family: JOURNALISM, serif;
				 font-size: 32px;
				 font-weight: normal;
				 font-stretch: normal;
				 font-style: normal;
				 line-height: 2.44;
				 letter-spacing: 0.66px;
				 color: #2d2b31;
				 padding-bottom: 32px;
			 }
			 & .customer-sketches__artist{
				 display: grid;
				 grid-template-columns: max-content max-content;
				 grid-gap: 8px;
				 align-items: center;
				 font-family: Muller, serif;
				 font-size: 14px;
				 font-weight: 600;
				 font-stretch: normal;
				 font-style: normal;
				 line-height: 2.29;
				 letter-spacing: normal;
				 color: #2d2b31;
				 padding-bottom: 16px;
			 }
			 & .customer-sketches__product{
				 font-family: Muller, serif;
				 font-size: 18px;
				 font-weight: 600;
				 font-stretch: normal;
				 font-style: normal;
				 line-height: 1.78;
				 letter-spacing: normal;
				 color: #2d2b31;
				 padding-bottom: 24px;
			 }
			 & .customer-sketches__gallery{
				 position: relative;
				 max-width: 1100px;
				 margin-right: 40px;
				 padding-bottom: 32px;
				 & .panel {
					 position: relative;

				 }
				 & .container {
					 display: grid;
					 max-width:1100px;
					 padding-left: 48px;
					 & .slider-description {
						 padding-top: 8px;
						 & span {
							 font-family: Muller, serif;
							 font-size: 14px;
							 font-weight: 600;
							 font-stretch: normal;
							 font-style: normal;
							 line-height: 3.43;
							 letter-spacing: normal;
							 color: #2d2b31;
						 }
						 &  a {
							 font-family: Muller, serif;
							 font-size: 14px;
							 font-weight: normal;
							 font-stretch: normal;
							 font-style: normal;
							 line-height: 3.43;
							 letter-spacing: normal;
							 color: #4c55ce;
							 padding-left: 8px;
						 }
					 }
					 & .swiper-container {
						 width: 100%;
						 & .swiper-slide{
							 & .slider-inner{
								 display: grid;
								 justify-items: center;
								 padding: 16px;
								 border-radius: 4px;
								 border: solid 1px #e2e6f4;
								 background-color: #ffffff;
							 }
						 }
					 }
					 &  .swiper-button-next, .swiper-button-prev{
						 width: 40px;
						 height: 40px;
						 border-radius: 50%;
						 background-color: #4c55ce;
						 outline: none;
						 top: 33%;
						 &::after{
							 display: none;
						 }
						 & i {
							 color: white;
						 }
					 }
					 &  .swiper-button-next {
						 right: -55px;
					 }
					 & .swiper-button-prev {
						 left: -2px;
					 }
					 & .swiper-button-disabled {
						 background-color: #e6ebf7;
						 opacity: 1;
					 }
				 }
			 }
			 & .customer-sketches__actions{
				 display: grid;
				 grid-template-columns: max-content max-content max-content;
				 grid-gap: 16px;
				 padding-bottom: 56px;
				 & .btn--accept{
					 width: 160px;
					 height: 40px;
					 border-radius: 28px;
					 background-color: #f4f4fc;
					 transition: all 0.47s cubic-bezier(0, 0, 0.58, 1);
					 & a {
						 width: 100%;
						 height: 100%;
						 display: grid;
						 place-items: center;
						 font-family: Muller, serif;
						 font-size: 14px;
						 font-weight: 500;
						 font-stretch: normal;
						 font-style: normal;
						 line-height: 1.71;
						 letter-spacing: normal;
						 text-align: center;
						 color: #4c55ce;
						 transition: all 0.47s cubic-bezier(0, 0, 0.58, 1);
					 }
					 &:hover {
						 transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
						 box-shadow: 8px 6px 15px 0 #e1e3fb;
						 background-color: #4c55ce;
						 & a {
							 transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
							 color: white;
						 }
					 }
				 }
				 & .btn--revision{
					 width: 136px;
					 height: 40px;
					 border-radius: 28px;
					 background-color: #f4f4fc;
					 transition: all 0.47s cubic-bezier(0, 0, 0.58, 1);
					 & a {
						 transition: all 0.47s cubic-bezier(0, 0, 0.58, 1);
						 width: 100%;
						 height: 100%;
						 display: grid;
						 place-items: center;
						 font-family: Muller, serif;
						 font-size: 14px;
						 font-weight: 500;
						 font-stretch: normal;
						 font-style: normal;
						 line-height: 1.71;
						 letter-spacing: normal;
						 text-align: center;
						 color: #4c55ce;
					 }
					 &:hover {
						 transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
						 box-shadow: 8px 6px 15px 0 #e1e3fb;
						 background-color: #4c55ce;
						 & a {
							 transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
							 color: white;
						 }
					 }
				 }
				 & .btn--cancel {
					 width: 136px;
					 height: 40px;
					 border-radius: 28px;
					 background-color: #f4f4fc;
					 transition: all 0.47s cubic-bezier(0, 0, 0.58, 1);
					 & a {
						 width: 100%;
						 height: 100%;
						 display: grid;
						 place-items: center;
						 font-family: Muller, serif;
						 font-size: 14px;
						 font-weight: 500;
						 font-stretch: normal;
						 font-style: normal;
						 line-height: 1.71;
						 letter-spacing: normal;
						 text-align: center;
						 color: #4c55ce;
						 transition: all 0.47s cubic-bezier(0, 0, 0.58, 1);
					 }
					 &:hover {
						 transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
						 box-shadow: 8px 6px 15px 0 #e1e3fb;
						 background-color: #4c55ce;
						 & a {
							 transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
							 color: white;
						 }
					 }
				 }
			 }
			 & .customer-sketches__comments{
				 width: 680px;
				 & .comments__title{
					 font-family: Muller, serif;
					 font-size: 16px;
					 font-weight: 600;
					 font-stretch: normal;
					 font-style: normal;
					 line-height: 3;
					 letter-spacing: normal;
					 color: #2d2b31;
				 }
				 & .comments__description{
					 font-family: Muller, serif;
					 font-size: 14px;
					 font-weight: normal;
					 font-stretch: normal;
					 font-style: normal;
					 line-height: 1.71;
					 letter-spacing: normal;
					 color: #2d2b31;
				 }
			 }
		 }
	 }
}

@media only screen and (max-width : 920px) {
	.template-navigation{
		display: none;
	}
	.main-area{
		margin: 0;
	}
}

@media only screen and (max-width : 1024px) {
	.main-area{
		height: auto;
		padding: 128px 24px 40px 24px;
	}
}

@media only screen and (max-width : 1080px) {
	.main-area__inner .customer-sketches .customer-sketches__comments{
		width: 100%;
	}
}

@media only screen and (max-width : 610px) {
	.main-area__inner .customer-sketches .customer-sketches__actions{
		grid-template-columns: 1fr;
	}
	.main-area__inner .customer-sketches .customer-sketches__gallery .container{
		padding-left: 0;
	}
	.main-area__inner .customer-sketches .customer-sketches__gallery{
		margin-right: 0;
	}
	.main-area__inner .customer-sketches .customer-sketches__gallery .container .swiper-button-next{
		right: -44px;
	}
	.main-area__inner .customer-sketches .customer-sketches__gallery .container .swiper-button-prev{
		left: -44px;
	}
}
@media only screen and (max-width : 320px) {
	.main-area__inner .customer-sketches .customer-sketches__comments .comments__title{
		line-height: 1.45;
		padding-bottom: 8px;
	}
}
