@import "_var.scss";



.template-navigation{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 269px;
	height: 100%;
	box-shadow: 0 3px 42px 0 rgba(170, 177, 194, 0.25);
	background-color: #ffffff;
	&__inner {
		position: relative;
		height: 100%;
		& .template-navigation__logo {
			text-align: center;
			padding-top: 16px;
			padding-bottom: 129px;
		}
		& .template-navigation__menu{
			margin: 0;
			padding: 0;
			& .menu__item {
				display: grid;
				grid-template-columns: 54px 1fr;
				grid-gap: 8px;
				align-items: center;
				margin-bottom: 27.5px;
				& a {
					font-family: Muller, serif;
					font-size: 16px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 2;
					letter-spacing: normal;
					color: #2d2b31;
					position: relative;
					transition: all 0.57s cubic-bezier(0, 0, 0.58, 1);
					& .circle {
						position: absolute;
						right:20px;
						top: -6px;
						width: 18px;
						height: 18px;
						border-radius: 50%;
						background-color: #98d53e;
						display: grid;
						place-items: center;
						& i {
							font-size: 10px;
							color: white;
						}
					}
				}
				& .item__button {
					width: 54px;
					height: 48px;
					border-top-right-radius:12px;
					border-bottom-right-radius:12px;
					display: grid;
					place-items: center;
					transition: all 0.57s cubic-bezier(0, 0, 0.58, 1);
					& i {
						transition: all 0.57s cubic-bezier(0, 0, 0.58, 1);
						font-size: 25px;
						padding-bottom: 3px;
					}
				}

			}
			& .menu__item:nth-child(1){
				& .item__button{
					& i {
						color: #b892d4;
					}
				}
			}
			& .menu__item:nth-child(2){
				& .item__button{
					& i {
						color: #f17d6f;
					}
				}
			}
			& .menu__item:nth-child(3){
				& .item__button{
					& i {
						color: #98d53e;
					}
				}
			}
			& .menu__item:nth-child(4){
				& .item__button{
					& i {
						color: #77b7f0;
					}
				}
			}
			& .menu__item:nth-child(5){
				& .item__button{
					& i {
						color: #f3cf6b;
					}
				}
			}
			& .menu__item:nth-child(1)[class~="active--item"] {
				& .item__button {
					background-color:#b892d4;
					& i {
						color: white;
					}
				}
				& a {
					color: #b892d4;
				}
			}
			& .menu__item:nth-child(2)[class~="active--item"] {
				& .item__button {
					background-color:#f17d6f;
					& i {
						color: white;
					}
				}
				& a {
					color: #f17d6f;
				}
			}
			& .menu__item:nth-child(3)[class~="active--item"] {
				& .item__button {
					background-color:#98d53e;
					& i {
						color: white;
					}
				}
				& a {
					color: #98d53e;
				}
			}
			& .menu__item:nth-child(4)[class~="active--item"] {
				& .item__button {
					background-color:#77b7f0;
					& i {
						color: white;
					}
				}
				& a {
					color: #77b7f0;
				}
			}
			& .menu__item:nth-child(5)[class~="active--item"] {
				& .item__button {
					background-color:#f3cf6b;
					& i {
						color: white;
					}
				}
				& a {
					color: #f3cf6b;
				}
			}
		}
		& .template-navigation__text {
			width: 100%;
			position: absolute;
			bottom: 0;
			display: grid;
			justify-items: center;
			& p {
				margin: 14px;
				padding-bottom: 28.5px;
				font-family: Muller, serif;
				font-size: 14px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.15;
				letter-spacing: normal;
				text-align: center;
				color: #2d2b31;
			}
		}

	}
}




 .main-area{
	position: relative;
	z-index: 3;
	margin-left: 269px;
	padding: 128px 24px 120px 24px;
	min-height: 100vh;
	 height: 100%;
	 background-color: #f4f3fa;
	 &__inner {
		 min-height: 100%;
		 border-radius: 10px;
		 box-shadow: 0 3px 42px 0 rgba(170, 177, 194, 0.25);
		 background-color: #ffffff;
		 padding: 48px;
		// write new section here
		 & .link-back-to-artists{
			 padding-bottom: 32px;
			 & a {
				 font-family: Muller, serif;
				 font-size: 14px;
				 font-weight: normal;
				 font-stretch: normal;
				 font-style: normal;
				 line-height: 2.71;
				 letter-spacing: normal;
				 color: #4c55ce;
				 & i {
					 font-size: 12px;
					 color: #4c55ce;
					 padding-right: 7.2px;
				 }
			 }
		 }
		 & .suggest-order{
			 font-family: JOURNALISM, serif;
			 font-size: 32px;
			 font-weight: normal;
			 font-stretch: normal;
			 font-style: normal;
			 line-height: 2.44;
			 letter-spacing: 0.66px;
			 color: #2d2b31;
			 padding-bottom: 40px;
		 }
		 & .painter {
			 display: grid;
			 grid-template-columns: 216px 1fr;
			 align-items: center;
			 grid-gap: 16px;
			 padding-bottom: 40px;
			 & .painter__item {
				 font-family: Muller, serif;
				 font-size: 18px;
				 font-weight: 600;
				 font-stretch: normal;
				 font-style: normal;
				 line-height: 1.78;
				 letter-spacing: normal;
				 color: #2d2b31;
			 }
			 & .painter__item:nth-child(2) {
				 display: grid;
				 grid-template-columns: max-content max-content;
				 grid-gap: 8px;
				 font-family: Muller, serif;
				 font-size: 14px;
				 font-weight: 600;
				 font-stretch: normal;
				 font-style: normal;
				 line-height: 2.29;
				 letter-spacing: normal;
				 color: #2d2b31;
			 }
		 }
		 & .make-appointment{
			 display: grid;
			 grid-template-columns: 216px 1fr;
			 align-items: center;
			 grid-gap: 16px;
			 padding-bottom: 40px;
			 & .make-appointment__item {
				 position: relative;
				 font-family: Muller, serif;
				 font-size: 18px;
				 font-weight: 600;
				 font-stretch: normal;
				 font-style: normal;
				 line-height: 1.78;
				 letter-spacing: normal;
				 color: #2d2b31;
				 & input {
					 z-index: 1;
					 width: 160px;
					 height: 48px;
					 border-radius: 10px;
					 padding: 12px 16px 12px 16px;
					 border: solid 1px #7e8ccc;
					 background-color: transparent;
					 outline: none;
					 font-size: 14px;
					 &::placeholder {
						 font-family: Muller, serif;
						 font-size: 14px;
						 font-weight: normal;
						 font-stretch: normal;
						 font-style: normal;
						 line-height: 2.29;
						 letter-spacing: normal;
						 color: rgba(45, 43, 49, 0.6);
					 }
				 }
				 & .calendar-image {
					 position: absolute;
					 top: 10px;
					 right: 20px;
					 z-index: 0;
					 pointer-events: none;
					 cursor: pointer;
				 }
			 }
			 & .make-appointment__item:nth-child(2)  {
				 width: 160px;
			 }
		 }
		 & .clothes {
			 @extend .make-appointment;
			 & .clothes__item {
				 font-family: Muller, serif;
				 font-size: 18px;
				 font-weight: 600;
				 font-stretch: normal;
				 font-style: normal;
				 line-height: 1.78;
				 letter-spacing: normal;
				 color: #2d2b31;
				 & ul {
					 margin: 0;
					 padding: 0;
					 & li {
						 padding-right: 10px;
						 display: inline-block;
						 position: relative;
						 .container {
							 display: block;
							 position: relative;
							 padding-left: 40px;
							 font-family: Muller, serif;
							 font-size: 14px;
							 font-weight: normal;
							 font-stretch: normal;
							 font-style: normal;
							 line-height: 2.29;
							 letter-spacing: normal;
							 color: rgba(45, 43, 49, 0.6);
							 cursor: pointer;
							 -webkit-user-select: none;
							 -moz-user-select: none;
							 -ms-user-select: none;
							 user-select: none;
						 }
						 .container input {
							 position: absolute;
							 opacity: 0;
							 cursor: pointer;
						 }

						 .checkmark {
							 position: absolute;
							 top: 0;
							 left: 0;
							 height: 32px;
							 width: 32px;
							 border: solid 1px #7e8ccc;
							 border-radius: 50%;
						 }
						 .checkmark:after {
							 content: "";
							 position: absolute;
							 display: none;
						 }

						 .container input:checked ~ .checkmark:after {
							 display: block;
						 }

						 .container .checkmark:after {
							 top: 7px;
							 left: 7px;
							 width: 16px;
							 height: 16px;
							 border-radius: 50%;
							 background-color: #4c55ce;
						 }
					 }
				 }
			 }
		 }
		& .letter-title {
			@extend .make-appointment;
			& .letter-title__item {
				font-family: Muller, serif;
				font-size: 18px;
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.78;
				letter-spacing: normal;
				color: #2d2b31;
				& input {
					outline: none;
					width: 560px;
					height: 48px;
					padding: 12px 368px 12px 16px;
					border-radius: 10px;
					border: solid 1px #7e8ccc;
					background-color: #ffffff;
					&::placeholder {
						font-family: Muller, serif;
						font-size: 14px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 2.29;
						letter-spacing: normal;
						color: rgba(45, 43, 49, 0.6);
					}
				}
			}
		}
		 & .task-description{
			 @extend .make-appointment;
			 align-items: initial;
			 & .task-description__item {
				 position: relative;
				 width: max-content;
				 font-family: Muller, serif;
				 font-size: 18px;
				 font-weight: 600;
				 font-stretch: normal;
				 font-style: normal;
				 line-height: 1.78;
				 letter-spacing: normal;
				 color: #2d2b31;
				 & textarea {
					 resize: none;
					 outline: none;
					 width: 560px;
					 height: 128px;
					 padding: 16px 0 0 16px;
					 border-radius: 10px;
					 border: solid 1px #7e8ccc;
					 background-color: #ffffff;
					 &::placeholder {
						 font-family: Muller, serif;
						 font-size: 14px;
						 font-weight: normal;
						 font-stretch: normal;
						 font-style: normal;
						 line-height: 2.29;
						 letter-spacing: normal;
						 color: rgba(45, 43, 49, 0.6);
					 }
				 }
				& input[type=file] {
					 display: none;
				 }
				 & .area-wrapper {
					 position: relative;
					 & label {
						 width: 100%;
						 height: 100%;

					 }
					 & .loaded{
						 width: max-content;
						 position: absolute;
						 bottom: 12px;
						 right: 0;
					 }
					 & .load-item {
						 cursor: pointer;
						 width: 40px;
						 height: 40px;
						 background-color:#4c55ce;
						 border-top-left-radius:10px;
						 border-bottom-right-radius:10px;
						 display: grid;
						 place-items: center;
					 }
				 }
				 & .checkbox {
					 padding-top: 44px;
					 input[type=checkbox] {
						 opacity: 0;
						 width: 0;
					 }

					& label {
						 position: relative;
						 display: inline-block;
						 cursor: pointer;
						 padding-left: 44px;
						line-height: 2.45;
						font-family: Muller, serif;
						font-size: 14px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						letter-spacing: normal;
						color: rgba(45, 43, 49, 0.6);

					 }

					  label::before,
					  label::after {
						 position: absolute;
						 content: "";
						 display: inline-block;
					 }

					  label::before {
						 height: 32px;
						 width: 32px;
						  border-radius: 4px;
						  border: solid 1px #7e8ccc;
						  left: 0;
					 }

					 label::after {
						 height: 10px;
						 width: 14px;
						 border-left: 2px solid;
						 border-bottom: 2px solid;
						 transform: rotate(-45deg);
						 left: 9px;
						 top: 7px;
					 }

					 input[type=checkbox] + label::after {
						 content: none;
					 }

					  input[type=checkbox]:checked + label::after {
						 content: "";
						 color: #FFFFFF;
					 }

					 input[type=checkbox]:checked + label::before {
						 background-color: #4c55ce;
					 }
				 }
				 & .enter-to-payment{
					 padding-top: 32px;
					 & .btn--payment{
						 width: 232px;
						 height: 56px;
						 border-radius: 28px;
						 box-shadow: 8px 6px 15px 0 #e1e3fb;
						 background-color: #4c55ce;
						 & a {
							 width: 100%;
							 height: 100%;
							 display: grid;
							 place-items: center;
							 font-family: Muller, serif;
							 font-size: 14px;
							 font-weight: 500;
							 font-stretch: normal;
							 font-style: normal;
							 line-height: 1.71;
							 letter-spacing: normal;
							 text-align: center;
							 color: #ffffff;
						 }
					 }
				 }
			 }
		 }
	 }
}



@media only screen and (max-width : 1176px) {
	.main-area__inner .task-description .task-description__item textarea{
		width: 100%;
	}
	.main-area__inner .letter-title .letter-title__item input{
		width: 100%;
		padding: 0;
	}
	.main-area__inner .letter-title .letter-title__item input[type='text']{
      padding-left: 16px;
	}
	.main-area__inner .letter-title .letter-title__item{
		width: 100%;
	}
	.main-area__inner .task-description .task-description__item{
		width: 100%;
	}
}

@media only screen and (max-width : 650px) {
	.main-area__inner .painter{
		grid-template-columns: auto;
	}
	.main-area__inner .make-appointment, .main-area__inner .task-description, .main-area__inner .letter-title, .main-area__inner .clothes{
		grid-template-columns: auto;
	}
}
@media only screen and (max-width : 360px) {
	.main-area__inner{
		padding: 48px 16px 48px 16px;
	}
	.main-area__inner .task-description .task-description__item .checkbox label{
		font-size: 12px;
	}
}
@media only screen and (max-width : 920px) {
	.template-navigation{
		display: none;
	}
	.main-area{
		margin: 0;
	}
}
@media only screen and (max-width : 1024px) {
	.main-area{
		height: auto;
		padding: 128px 24px 40px 24px;
	}
}
