@import "_var.scss";


 .grid-container {
 	display: grid;
 	max-width:1200px;
 	margin:0 auto;
 }


.main {
	position: relative;
	width: 100%;
	height: 1080px;
	background-image: linear-gradient(29deg, #554ead 19%, #15034e 76%);
	background-size: 400% 400%;
	overflow: hidden;
	& .gradients {
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
	@-webkit-keyframes fade{
		from{
			opacity:0.3;
		}
		to{
			opacity:1;
		}
	}
	@-webkit-keyframes fade1{
		from{
			opacity:0;
		}
		to{
			opacity:1;
		}
	}
	#v1{
		//background:linear-gradient(to top, rgba(26, 74, 193, 0.5), rgba(26, 74, 193, 1));
		animation: fade 2s infinite alternate;
	}
	#v2{
		//background:linear-gradient(to bottom, rgba(26, 74, 193, 0.5), rgba(26, 74, 193, 1));
		//animation: fade 2s infinite alternate 1s;
	}
	#h1{
		//background:linear-gradient(to right, rgba(26, 74, 193, 0.5), rgba(97, 26, 193 , 1));
		//animation: fade 2s infinite alternate 0.5s;
	}
	#h2{
		//background:linear-gradient(to left, rgba(97, 26, 193 , 0.5), rgba(97, 26, 193 , 1));
		//animation: fade 2s infinite alternate 1.5s;
	}
    & .main__decoration--comet-1{
        position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(../img/main/screen-decoration/comets/comet1.png);
		background-size: 100% 100%;
		z-index: 2;
		animation: fade1 3s infinite alternate;
	}
	& .main__decoration--comet-2{
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(../img/main/screen-decoration/comets/comet2.png);
		background-size: 100% 100%;
		z-index: 2;
		animation: fade1 3s infinite alternate;
	}
	& .main__decoration--comet-3{
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(../img/main/screen-decoration/comets/comet3.png);
		background-size: 100% 100%;
		z-index: 2;
		animation: fade1 3s infinite alternate;
	}
	& .main__decoration--stars {
		z-index: 1;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	& .main__decoration--glow{
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(../img/main/screen-decoration/main-bg.png);
		background-size: cover;
	}

	& .new-collection{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		z-index: 10;
		background-color: rgba(24, 32, 98, 0.8);
		& .new-collection__decoration {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			display: grid;
			justify-items: center;
			& img {
				width: 0%;
			}
		}

		& .new-collection__container {
			opacity: 0;
			max-width: 1360px;
			margin: 0 auto;
			padding: 350px 20px 0 20px;
			position: relative;
			& .collection__panel {
				position: relative;
				&  .swiper-button-next, .swiper-button-prev{
					width: 56px;
					height: 56px;
					border-radius: 50%;
					border: 2px solid white;
					outline: none;
					&::after{
						display: none;
					}
					& i {
						font-size: 23px;
						color: white;
					}
				}
				&  .swiper-button-next {
					right: -50px;
					top: 360px;
				}
				& .swiper-button-prev {
					left: -90px;
					top: 360px;
				}
				& .swiper-button-disabled {
					background-color: rgba(0, 0, 0, 0.28);
					opacity: 1;
				}
			}

			& .new-collection__inner{
				position: relative;
				& .new-collection__close {
					position: absolute;
					right: 0;
					top: -150px;
					color: white;
				}
				& h2 {
					font-family: JOURNALISM, serif;
					font-size: 58px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.34;
					letter-spacing: 1.2px;
					text-align: center;
					color: #ffffff;
					margin: 0;
					padding-bottom: 40px;
				}
				& p {
					font-family: Muller, serif;
					font-size: 24px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.58;
					letter-spacing: normal;
					text-align: center;
					color: #ffffff;
					width: 500px;
					margin: auto;
				}
				& .new-collection__slider{

				}
				& .swiper-container{
					width: 100%;
					height: 100%;
					padding: 70px 0;
					position: relative;

					& .swiper-wrapper {
						position: relative;
						width: 100%;
						height: 100%;
						z-index: 1;
						display: flex;
						transition-property: transform;
						box-sizing: content-box;
						& .swiper-slide{
							text-align: center;
							//font-size: 18px;
							/* Center slide text vertically */
							display: -webkit-box;
							display: -ms-flexbox;
							display: -webkit-flex;
							display: flex;
							-webkit-box-pack: center;
							-ms-flex-pack: center;
							-webkit-justify-content: center;
							justify-content: center;
							-webkit-box-align: center;
							-ms-flex-align: center;
							-webkit-align-items: center;
							align-items: center;
							& .slider__wrapper {
								width: 228px;
								position: relative;
								padding-top: 72px;
								padding-bottom: 158px;
							}
							& .slide__inner{
								cursor: pointer;
								background-color: #ffffff;
								width: min-content;
								padding: 10px 10px;
								position: relative;
								&:hover {
									& .inner__top {
										opacity: 1;
									}
									& .slider__bottom {
										opacity: 1;
									}
									& .slider__transition{
										opacity: 1;
									}
								}
								& .inner__top{
									opacity: 0;
									display: grid;
									grid-template-columns: 2fr 1fr;
									position: absolute;
									top: -20px;
									z-index: 5;
									width: 100%;
									left: 0;
									background-color: #fff;
									padding: 5px 10px;
									& .author {
										font-family: Muller, serif;
										font-size: 14px;
										font-weight: 500;
										font-stretch: normal;
										font-style: normal;
										line-height: 1.65;
										letter-spacing: normal;
										color: #2d2b31;
										height: min-content;
									}
									& .like {
										font-family: Muller, serif;
										font-size: 14px;
										font-weight: 500;
										font-stretch: normal;
										font-style: normal;
										line-height: 1.65;
										letter-spacing: normal;
										color: #2d2b31;
										display: grid;
										justify-items: end;
										height: min-content;
									}
								}
								& .inner__middle{
									padding-top: 5px;
									& img {
										display: block;
									}
								}
								& .slider__bottom{
									opacity: 0;
									width: 100%;
									height: 48px;
									background-color: #4c55ce;
									position: absolute;
									left: 0;
									bottom: -48px;
									& a {
										width: 100%;
										height: 100%;
										display: grid;
										place-items: center;
										font-family: Muller, serif;
										font-size: 18px;
										font-weight: 500;
										font-stretch: normal;
										font-style: normal;
										line-height: 2.11;
										letter-spacing: normal;
										text-align: center;
										color: #ffffff;
									}
								}
								& .slider__transition {
									opacity: 0;
									position: absolute;
									bottom: -148px;
									left: 0;
									width: 100%;
									padding: 16px 24px;
									border-radius: 28px;
									box-shadow: 0 5px 17px 0 rgba(207, 138, 109, 0.5);
									background-color: #ffffff;
									& a {
										display: grid;
										width: 100%;
										height: 100%;
										place-items: center;
										font-family: Muller, serif;
									}
								}

							}


						}
					}
				}
			}

		}
	}

	& .container {
		max-width: 1480px;
		margin: 0 auto;
		padding: 0 20px;
		display: grid;
		width: 100%;
		height: 100%;
		position: relative;
		& .main__decoration--orbit{
			top: -83px;
			right: -1px;
			z-index: 3;
			position: absolute;
			& .orbit-dots {
				opacity: 0;
			}
		}
		& .main__decoration--planets {
			position: absolute;
			width: 100%;
			height: 100%;
			top: -83px;
			right: -1px;
			z-index: 5;
			& svg {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 3;
			}
			& .planets--moon{
				width: 500px;
				height: 500px;
				position: absolute;
				right: 0;
				left: 0;
				padding-top: 263px;
				margin: auto;
				z-index: 6;
				& .moon__text {
					position: absolute;
					bottom: -187px;
					padding-left: 110px;
					& h1 {
						text-shadow: 0 2px 23px rgba(41, 36, 56, 0.17);
						font-family: JOURNALISM, serif;
						font-size: 39px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.18;
						letter-spacing: normal;
						text-align: center;
						color: #ffffff;
						width: 70%;
					}
					& p {
						font-family: Muller, serif;
						font-size: 17px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.41;
						letter-spacing: normal;
						text-align: center;
						color: #ffffff;
						width: 70%;
					}
					& .moon__arrow-bottom {
						& i {
							padding-left: 120px;
							color: white;
							font-size: 50px;
						}
					}
				}
				& a {
					& img {
						pointer-events: none;
					}
				}
			}
			& .planets--saturn{
				width: 420px;
				height: 277px;
				position: absolute;
				top: -300px;
				left: -110px;
				margin: auto;
				z-index: 6;
				& p {
					text-shadow: 0 2px 23px rgba(41, 36, 56, 0.17);
					font-family: JOURNALISM, serif;
					font-size: 39px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.18;
					letter-spacing: normal;
					text-align: center;
					color: #ffffff;
					width: 50%;
					position: absolute;
					padding-bottom: 100px;
					bottom: 12px;
					right: 0;
					left: 0;
					margin: auto;
				}
			}
			& .planets--uranus{
				width: 420px;
				height: 277px;
				position: absolute;
				top: -83px;
				left: -130px;
				margin: auto;
				z-index: 6;
				& p {
					text-shadow: 0 2px 23px rgba(41, 36, 56, 0.17);
					font-family: JOURNALISM, serif;
					font-size: 35px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.18;
					letter-spacing: normal;
					text-align: center;
					color: #ffffff;
					width: 50%;
					position: absolute;
					padding-bottom: 100px;
					bottom: 10px;
					right: 0;
					left: 0;
					margin: auto;
				}
			}


		}

		& .main__content {
			position: relative;
			display: grid;
			justify-items: end;
			align-items: end;

			& .social-networks {
				position: relative;
				margin-bottom: 161px;
				z-index: 9;

				& ul {
					& li {
						display: inline-block;
						padding-right: 10px;

						& a {
							display: grid;
							place-items: center;
							position: relative;
							border: 1px solid rgba(255, 255, 255, 0.36);
							width: 48px;
							height: 48px;
							border-radius: 50%;
							overflow: hidden;
							transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
							&:hover {
								transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
								background-color: rgba(255, 255, 255, 0.3);
								border: transparent;
								& i {
									transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
									//color: #4c55ce;
									transform: scale(1.2);
								}
							}
							& i {
								transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
								font-size: 20px;
								color: white;
							}
						}

						& p {
							font-family: Muller, serif;
							text-transform: uppercase;
							font-size: 14px;
							font-weight: normal;
							font-stretch: normal;
							font-style: normal;
							line-height: 2.29;
							letter-spacing: 3px;
							text-align: right;
							color: #ffffff;
						}
					}

					& li:nth-last-child(1) {
						padding-right: 0;
					}
				}

			}
		}
	}
}

@media only screen and (max-width : 1920px) {
	.main .main__decoration--comet-3{
		background-position: -200px 100%;
	}
	.main .main__decoration--glow{
		background-size: 120% 100%;
	}
	.main .main__decoration--comet-2{
		background-size: initial;
		background-position: top;
	}
	.main .main__decoration--comet-1{
		background-size: initial;
		background-position: top;
	}
	.main .new-collection .new-collection__container{
		padding: 329px 20px 0 20px;
	}
	.main .new-collection .new-collection__container .new-collection__inner .new-collection__close{
		top: -90px;
	}
	.main .new-collection .new-collection__container .new-collection__inner .swiper-container .swiper-wrapper .swiper-slide .slide__inner .slider__transition{
		bottom: -135px;
	}

}


@media only screen and (max-width : 1300px) {
	.main .new-collection .new-collection__container{
		padding: 50px 20px 0 20px;
	}
	.main .new-collection .new-collection__container .collection__panel .swiper-button-prev{
		left: 0;
		top: 250px;
	}
	.main .new-collection .new-collection__container .collection__panel .swiper-button-next{
		right: 0;
		top: 250px;
	}
	.main .new-collection .new-collection__container .new-collection__inner .new-collection__close{
		top: 0;
	}
}

@media only screen and (max-width : 1366px) {
	.main{
		height: 768px;
	}
	.main .container .main__decoration--orbit{
		display: grid;
		justify-items: center;
		top: -30%;
		right: -1px;
		z-index: 3;
		position: absolute;
		& svg {
			width: 70%;
		}
	}
	.main .container .main__decoration--planets{
		display: grid;
		justify-items: center;
		top: -30%;
		right: -6px;
		z-index: 3;
		& .planets-orbit {
			width: 70%;
			position: static;
		}
	}
	.main .container .main__decoration--planets .planets--saturn{
		width: 250px;
		height: 200px;
		left: 70px;
		top: -220px;
		& img {
			width: 100%;
		}
		& p {
			padding-bottom: 90px;
			font-size: 29px;
		}
	}
	.main .container .main__decoration--planets .planets--uranus{
		width: 250px;
		height: 200px;
		left: 35px;
		top: 0;
		& img {
			width: 100%;
		}
		& p {
			padding-bottom: 80px;
			font-size: 29px;
		}
	}
	.main .container .main__decoration--planets .planets--moon{
		width: 400px;
		height: 400px;
		right: 133px;
		left: 0;
		padding-top: 363px;
		& img {
			width: 100%;
		}
		& .moon__text {
			bottom: -301px;
			padding-left: 90px;
			& p {
				font-size: 14px;
			}
			& h1 {
				font-size: 29px;
			}
			& .moon__arrow-bottom i{
				padding-left: 95px;
				color: white;
				font-size: 30px;

			}
		}
	}

}
@media only screen and (max-width : 1024px) {
	.main .container .main__decoration--planets .planets--uranus{
		left: 0;

	}
	.main .container .main__decoration--planets .planets--saturn{
        left: 20px;
		top: -230px;
	}
}

@media only screen and (max-width : 768px) {
	.main .container .main__content .social-networks ul li p{
		font-size: 12px;
	}
	.main .container .main__content .social-networks ul li a{
		width: 38px;
		height: 38px;
	}
	.main .container .main__content .social-networks ul li a i{
		font-size: 16px;
	}
	.main .container .main__content .social-networks{
		margin-bottom: 70px;
	}
	.main .container .main__decoration--planets .planets--moon{
		width: 280px;
		height: 280px;
		bottom: 110px;
		& .moon__text {
			bottom: -235px;
			padding-left: 60px;
			& h1{
				font-size: 20px;
			}
			& p {
				font-size: 12px;
			}
			& .moon__arrow-bottom i{
				padding-left: 61px;
			}

		}
	}
	.main .container .main__decoration--planets .planets--uranus{
		bottom: 30px;
		top: initial;
		right: 130px;
	}
	.main .container .main__decoration--planets .planets--saturn{
		top: 220px;
		bottom:0;
		right: 130px;
	}

}

@media only screen and (max-width : 580px) {
	.main .new-collection .new-collection__container .new-collection__inner h2{
		font-size: 38px;
		padding-top: 30px;
	}
	.main .new-collection .new-collection__container .new-collection__inner p{
		font-size: 18px;
		width: auto;
	}
	.main .new-collection .new-collection__container .collection__panel .swiper-button-next{
		top: 230px;
	}
	.main .new-collection .new-collection__container .collection__panel .swiper-button-prev{
		top: 230px;
	}
	.main .new-collection .new-collection__container .new-collection__inner .new-collection__close{
		top: -40px;
		margin-top: 20px;
	}


}

@media only screen and (max-width : 500px) {
	.main .main__decoration--glow{
		background-size: cover;
	}
	.main .container .main__decoration--orbit svg{
		width: 100%;
	}
	.main .container .main__decoration--planets{
		top: 0;
		right: 0;
		justify-content: center;
		align-content: center;
		grid-gap: 10px;

		& .planets-orbit{
			position: absolute;
		}
		& .planets--saturn{
			height: 133px;
			position: relative;
			top: initial;
			right: initial;
			left: initial;
			bottom: initial;
			margin: 0;
			& p {
				padding-bottom: 16px;
			}
		}
		& .planets--uranus{
			height: 133px;
			position: relative;
			top: initial;
			right: initial;
			left: initial;
			bottom: initial;
			margin: 0;
			& p {
				padding-bottom: 16px;
			}
		}
		&  .planets--moon{
			height: 200px;
			position: relative;
			top: initial;
			right: initial;
			left: initial;
			bottom: initial;
			margin: 0;
			margin-bottom: 80px;
			padding: 0;
			& .moon__text{
				bottom: -39px;
			}
		}
	}
	.main .new-collection .new-collection__container .new-collection__inner .swiper-container{
		padding: 0;
	}

}
@media only screen and (max-width : 500px) {
	.main .container .main__content .social-networks{
		& ul {
			padding: 0;
			& li {
				& p {
					font-size: 10px;
				}
			}
		}
	}
}

@media only screen and (max-width : 360px) {
	.main .new-collection .new-collection__container{
		padding: 50px 20px 0 20px;
	}
	.main .new-collection .new-collection__container .new-collection__inner h2{
		font-size: 30px;
	}
	.main .new-collection .new-collection__container .new-collection__inner p{
		font-size: 16px;
	}
	.main .new-collection .new-collection__container .collection__panel .swiper-button-prev{
		left: -17px;
	}
	.main .new-collection .new-collection__container .collection__panel .swiper-button-next{
		right: -17px;
	}
	.main .new-collection .new-collection__container .new-collection__inner .new-collection__close{
		& a {
			& img {
				width: 30px;
			}
		}
	}
}

@media only screen and (max-width : 340px) {
	.main .container .main__content .social-networks{
		margin-bottom: 20px;
		& ul {
			& li {
				& a {
					width: 30px;
					height: 30px;
					& i {
						font-size: 14px;
					}
				}
			}
		}
	}
	.main .new-collection .new-collection__container{
		padding: 20px 20px 0 20px;
	}
	.main .new-collection .new-collection__container .new-collection__inner h2{
		padding-bottom: 10px;
	}
	.main .new-collection .new-collection__container .new-collection__inner .swiper-container .swiper-wrapper .swiper-slide .slider__wrapper{
		width: 178px;
	}
	.main .new-collection .new-collection__container .new-collection__inner .swiper-container .swiper-wrapper .swiper-slide .slide__inner .inner__middle{
		width: 157px;
		& img {
			width: 100%;
		}
	}
	.main .new-collection .new-collection__container .new-collection__inner .swiper-container .swiper-wrapper .swiper-slide .slide__inner .slider__transition a{
		font-size: 10px;
	}
	.main .new-collection .new-collection__container .new-collection__inner .swiper-container .swiper-wrapper .swiper-slide .slide__inner .inner__top .author{
		font-size: 13px;
	}
	.main .new-collection .new-collection__container .new-collection__inner .new-collection__close{
		top: -30px;
	}

}

.order-progress {
	width: 100%;
	padding: 120px 0 40px 0;
	position: relative;
	& .order-progress__middle-decoration{
		position:absolute;
		margin:auto;
		right:0;
		top:0;
		bottom:0;
		display: grid;
		align-items: center;
		justify-items: end;
		& img {
			position:absolute;
			padding-top: 400px;
		}
	}
	& .order-progress__middle-decoration-1{
		position:absolute;
		margin:auto;
		right:0;
		top:0;
		bottom:0;
		display: grid;
		align-items: center;
		justify-items: end;
		& img {
			position:absolute;
			padding-top: 400px;
		}
	}
	& .order-progress__middle-decoration-2{
		position:absolute;
		margin:auto;
		right: 443px;
		top:0;
		bottom:0;
		display: grid;
		align-items: center;
		justify-items: end;
		& a {
			width: 220px;
			height: 220px;
			display: grid;
			place-items: center;
			position: absolute;
			margin-bottom: 386px;
		}
		& p {
			position: absolute;
			z-index: 2;
			font-family: JOURNALISM, serif;
			font-size: 28px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 2.79;
			letter-spacing: normal;
			text-align: center;
			color: #2d2b31;
		}
		& img {
			position:absolute;
			z-index: 1;
			top: 0;
		}
	}

	& .container {
		max-width: 1480px;
		margin: 0 auto;
		padding: 0 20px;
		& .order-progress__content {
			position: relative;

			& .content__primary {
				position: relative;
				display: grid;
				grid-template-columns: 1fr 1fr;
				padding-left: 131px;
				& .primary__decoration {
					position: absolute;
					left: -300px;
					top: -200px;
					z-index: 1;
				}
				& .primary__text {
					position: relative;
					z-index: 2;
					& h2 {
						width: 70%;
						font-family: JOURNALISM, serif;
						font-size: 58px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.34;
						letter-spacing: 1.2px;
						color: #2d2b31;
					}
					& p {
						width: 70%;
						font-family: Muller, serif;
						font-size: 24px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.58;
						letter-spacing: normal;
						color: #2d2b31;
					}
				}
			}

			& .content__process-select {
				& .select__item {
					transition: all 0.3s ease-out;
					width: 1088px;
					border-bottom: solid 1px rgba(126, 140, 204, 0.26);
					display: grid;
					grid-template-columns: 10px 1fr;
					& .item__line {
						width: 1px;
						height: 100%;
						background-color: rgba(126, 140, 204, 0.26);
						position: relative;
						& .line__decoration {
							position: absolute;
							top: 120px;
							left: -12px;
						}
					}
					& .first-line{
						height: 55%;
						display: grid;
						align-self: end;
						& .line__decoration {
							position: absolute;
							top: 0;
							left: -12px;
						}
					}
					& .item__wrapper {
						padding-top: 50px;
					}
					& .item__inner {
						display: grid;
						grid-template-columns: 220px 3fr 1fr;
					}
					& .item__number {
						& p {
							font-family: Rubik, serif;
							font-size: 70px;
							font-weight: 300;
							font-stretch: normal;
							font-style: normal;
							line-height: 0.97;
							letter-spacing: normal;
							text-align: center;
							color: #2d2b31;
							margin: 0;
							padding-top: 50px;
							position: relative;
							z-index: 2;
						}

					}
					& .item__content {
						& p {
							font-family: Muller, serif;
							font-size: 24px;
							font-weight: 600;
							font-stretch: normal;
							font-style: normal;
							line-height: 1.67;
							letter-spacing: normal;
							color: #2d2b31;
						}

					}
					& .item__button {
						align-self: end;
						display: grid;
						align-items: end;
						position: relative;
						width: 64px;
						height: 64px;
						border-radius: 50%;
						border: 1px solid rgba(128, 128, 128, 0.36);
						place-items: center;
						margin-bottom: 24px;
						cursor: pointer;
						& i {
							color: black;
							font-size: 55px;
							transition: all 0.2s ease-out;
							transform: rotate(178deg);
						}
						& .active-rotate{
							transition: all 0.2s ease-out;
							transform: rotate(0deg);
						}

					}

				}
			}
			& .pre-order {
				position: relative;
				width: 100%;
				padding-top: 50px;
				& .pre-order__decoration{
					position: absolute;
					left: -370px;
					top: 0;
					& img {
						width: 70%;
					}
				}

				& .pre-order__title {
					& h3 {
						font-family: JOURNALISM, serif;
						font-size: 58px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.34;
						letter-spacing: 1.2px;
						text-align: center;
						color: #2d2b31;
					}
				}
				& .pre-order__line-top{
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					justify-items: center;
					position: relative;
					#control {
						cursor: pointer;
					}
					#control:hover ~ #target {
						opacity: 1;
						transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
					}
					& p {
						width: 368px;
						padding: 24px 24px 24px;
						border-radius: 20px;
						border: solid 1px #d6daec;
						background-color: #ffffff;
						font-family: Muller, serif;
						font-size: 16px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.75;
						letter-spacing: normal;
						color: #2d2b31;
					}
					& img {
						padding-top: 24px;
						position: relative;
						z-index: 2;
					}
					& .item__background {
						transition: all 0.67s cubic-bezier(0, 0, 0.58, 1);
						position: absolute;
						z-index: 1;
						top: -56px;
						left: 29px;
						opacity: 0;
					}
				}
			}
		}
	}
}

.item-hidden {
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	padding-left: 220px;
	& p {
		padding: 0 20px 0 0;
	}
}

.active-border {
	box-shadow: 0 5px 49px 0 rgba(143, 142, 160, 0.22);
	transition: all 0.3s ease-out;
}
//.active-rotate{
//	transition: max-height 0.2s ease-out;
//	transform: rotate(0deg) ;
//}


@media only screen and (max-width : 1920px) {
	.order-progress .order-progress__middle-decoration-1 img{
		width: 600px;
		height: auto;
	}
	.order-progress .order-progress__middle-decoration img{
		width: 700px;
		height: auto;
	}
	.order-progress .order-progress__middle-decoration-2{
		right: 320px;
		top: 300px;
	}
}

@media only screen and (max-width : 1600px) {
	.order-progress .order-progress__middle-decoration{
		display: none;
	}
	.order-progress .order-progress__middle-decoration-1{
		display: none;
	}
	.order-progress .order-progress__middle-decoration-2{
		display: none;
	}
}
@media only screen and (max-width : 1100px) {
	.order-progress .container .order-progress__content .content__primary{
		grid-template-columns: 1fr;
		padding: 0;
	}
	.order-progress .container .order-progress__content .content__process-select .select__item{
		width: 100%;
	}
	.order-progress .container .order-progress__content .content__primary .primary__decoration{
		display: none;
	}
	.order-progress{
		padding: 40px 0 40px 0;
	}
}
@media only screen and (max-width : 920px) {
	.order-progress .container .order-progress__content .pre-order .pre-order__line-top{
		grid-template-columns: 1fr;
	}
}
@media only screen and (max-width : 550px) {
	.item-hidden{
		padding: 0;
		& p {
			padding: 0 20px 0 20px;
		}
	}
	.order-progress .container .order-progress__content .content__process-select .select__item .item__inner{
		grid-template-columns:100px 3fr 1fr;
	}
}
@media only screen and (max-width : 550px) {
	.primary__image{
		text-align: center;
		& img {
			width: 300px;
		}
	}
	.order-progress .container .order-progress__content .content__primary .primary__text p{
		width: 100%;
		text-align: center;
	}
	.order-progress .container .order-progress__content .content__primary .primary__text h2{
		width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width : 440px) {
	.order-progress .container .order-progress__content .content__process-select .select__item .item__inner{
		grid-template-columns: 1fr;
	}
	.order-progress .container .order-progress__content .content__process-select .select__item .item__button{
		justify-self: center;
	}
	.order-progress .container .order-progress__content .content__process-select .select__item .item__number p{
		padding-bottom: 50px;
	}
	.order-progress{
		& .item__content{
			padding-left: 20px;
		}
	}
	.order-progress .container .order-progress__content .pre-order .pre-order__line-top p{
		width: 100%;
	}

   //fonts remark
	.order-progress .container .order-progress__content .content__primary .primary__text h2{
		font-size: 38px;
	}
	.order-progress .container .order-progress__content .content__primary .primary__text p{
		font-size: 20px;
	}
	.order-progress .container .order-progress__content .content__process-select .select__item .item__number p{
		font-size: 50px;
	}
	.order-progress .container .order-progress__content .content__process-select .select__item .item__content p{
		font-size: 18px;
	}
	.order-progress .container .order-progress__content .pre-order .pre-order__title h3{
		font-size: 38px;
	}
//	fonts end

}
@media only screen and (max-width : 360px) {
	.primary__image img{
		width: 250px;
	}
}


@keyframes bganimation {
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}

.pre-collection {
	//display: none;

	width: 100%;
	padding: 0 0 109px 0;
	position: relative;

	& .line-separator {
		top: -1px;
		position: absolute;
		width: 100%;
	}
	& .separator-full-hd{
		display: none;
	}
	& .container {
		max-width: 1480px;
		margin: 0 auto;
		padding: 0 20px;
		position: relative;
		& .line__numbers {
			width: 100%;
			height: 50px;
			position: absolute;
			top: -35px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			justify-items: center;
			& .numbers__item {
				& .item__circle {
					position: relative;
					width: 64px;
					height: 64px;
					border-radius: 32px;
					border: solid 1px #d6daec;
					background-color: #ffffff;
					display: grid;
					place-items: center;
					font-family: Muller, serif;
					font-size: 34px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 0.82;
					letter-spacing: normal;
					text-align: center;
					color: #2d2b31;
					z-index: 2;

					& .circle__decoration{
						position: absolute;
						z-index: 1;
						top: -23px;
						right: 0;
						left: 0;
						margin: auto;
						width: 1px;
						height: 23px;
						border: solid 1px #d6daec;
					}
					& .circle__decoration-1{
						position: absolute;
						z-index: 1;
						bottom: -42px;
						right: 0;
						left: 0;
						margin: auto;
						width: 1px;
						height: 42px;
						border: solid 1px #d6daec;
					}
				}
			}
			& .numbers__item:nth-child(3){
				padding-right: 40px;
			}
			& .numbers__item:nth-child(2){
				padding-right: 40px;
			}
			& .numbers__item:nth-child(1){
				padding-right: 35px;
				cursor: pointer;
				& .item__circle {
					background-color: #80a4e9;
					color: white;

				}

			}

		}

		& .clock-decoration {
			z-index: 1;
			position:absolute;
			margin:auto;
			left:0;
			right:0;
			top:0;
			bottom:0;
			width: 128px;
			height: 128px;
			& svg {
				& .clock-arrow {
					transform-origin: bottom ;
					transform-box: fill-box;
					transform: rotate(-46deg);
				}
			}
		}
		& .swiper-container {
			width: 100%;
			height: 100%;
			padding: 70px 0;
			position: relative;

		}
		& .swiper-slide {
			text-align: center;
			font-size: 18px;
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}
		.swiper-slide-active{
			padding-top: 30px;
		}
		& .slide-content-1{
			width: 368px;
			font-family: Muller, serif;
			font-size: 16px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.75;
			letter-spacing: normal;
			color: #2d2b31;
			text-align: initial;
			padding: 24px;
			border-radius: 20px;
			box-shadow: 18px 21px 55px 0 #ebeef7;
			background-color: #fff;
			& p {
				margin: 0;
				& span {
					font-weight: bold;
				}
			}
		}
		& .slide-content-2{
			width: 368px;
			font-family: Muller, serif;
			font-size: 16px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.75;
			letter-spacing: normal;
			color: #2d2b31;
			text-align: initial;
			padding: 24px;
			border-radius: 20px;
			border: solid 1px #d6daec;
			background-color: #fff;
			& p {
				margin: 0;
			}

		}
	}
}



.slider-panel {
	position: relative;
	&  .swiper-button-next, .swiper-button-prev{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #4c55ce;
		outline: none;
		&::after{
			display: none;
		}
		& i {
			color: white;
		}
	}
	&  .swiper-button-next {
		right: -30px;
	}
	& .swiper-button-prev {
		left: -30px;
	}
	& .swiper-button-disabled {
		background-color: #e6ebf7;
		opacity: 1;
	}
}


@media only screen and (max-width : 1920px) {
	.separator-desktop{
		display: none;
	}
	.pre-collection .separator-full-hd{
		display: block;
	}
	.pre-collection .line-separator{
		top: -10px;
	}

}

@media only screen and (max-width : 1620px) {
	.slider-panel{
		&  .swiper-button-next {
			right: -30px;
			margin-right: 30px;
		}
		& .swiper-button-prev {
			left: -30px;
			margin-left: 30px;
		}
	}
}
@media only screen and (max-width : 1365px) {
	.pre-collection .line-separator {
		display: none;
	}
	.pre-collection .container .line__numbers{
		display: none;
	}
	.pre-collection .container .clock-decoration{
		display: none;
	}
}
@media only screen and (max-width : 1040px) {
	.pre-collection{
		padding: 0;
	}
}
@media only screen and (max-width : 500px) {
	.pre-collection .container{
		padding: 0;
	}
	.pre-collection .container .swiper-slide-active{
		padding: 0;
	}
	.slider-panel{
		&  .swiper-button-next {
			right: 0;
			margin-right: 30px;
		}
		& .swiper-button-prev {
			left: 0;
			margin-left: 30px;
		}
	}

}
@media only screen and (max-width : 400px) {
	.pre-collection .container .slide-content-1{
		width: 80%;
	}
	.pre-collection .container .slide-content-2{
		width: 80%;
	}
}
